In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2015/Divvy_Trips_2015-Q1.csv')
df2 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2015/Divvy_Trips_2015-Q2.csv')
df3 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2015/Divvy_Trips_2015_07.csv')
df4 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2015/Divvy_Trips_2015_08.csv')
df5 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2015/Divvy_Trips_2015_09.csv')
df6 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2015/Divvy_Trips_2015_Q4.csv')
df7 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2015/Divvy_Stations_2015.csv')

In [3]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202349 entries, 0 to 202348
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            202349 non-null  int64
 1   starttime          202349 non-null  object
 2   stoptime           202349 non-null  object
 3   bikeid             202349 non-null  int64
 4   tripduration       202349 non-null  int64
 5   from_station_id    202349 non-null  int64
 6   from_station_name  202349 non-null  object
 7   to_station_id      202349 non-null  int64
 8   to_station_name    202349 non-null  object
 9   usertype           202349 non-null  object
 10  gender             177858 non-null  object
 11  birthyear          177858 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 18.5+ MB

In [4]:
df1["starttime"] = pd.to_datetime(df1["starttime"])
df1["stoptime"] = pd.to_datetime(df1["stoptime"])

In [5]:
df1.loc[df1['gender'].isnull(), 'gender'] = 'Unknown'
df1.loc[df1['birthyear'].isnull(), 'birthyear'] = 0

In [6]:
df1.loc[df1['stoptime'].dt.year != 2015]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [7]:
df1.loc[df1['starttime'].dt.year != 2015]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [8]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202349 entries, 0 to 202348
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            202349 non-null  int64
 1   starttime          202349 non-null  datetime64[ns]
 2   stoptime           202349 non-null  datetime64[ns]
 3   bikeid             202349 non-null  int64
 4   tripduration       202349 non-null  int64
 5   from_station_id    202349 non-null  int64
 6   from_station_name  202349 non-null  object
 7   to_station_id      202349 non-null  int64
 8   to_station_name    202349 non-null  object
 9   usertype           202349 non-null  object
 10  gender             202349 non-null  object
 11  birthyear          202349 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 18.5+ MB

In [9]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893890 entries, 0 to 893889
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            893890 non-null  int64
 1   starttime          893890 non-null  object
 2   stoptime           893890 non-null  object
 3   bikeid             893890 non-null  int64
 4   tripduration       893890 non-null  int64
 5   from_station_id    893890 non-null  int64
 6   from_station_name  893890 non-null  object
 7   to_station_id      893890 non-null  int64
 8   to_station_name    893890 non-null  object
 9   usertype           893890 non-null  object
 10  gender             592553 non-null  object
 11  birthyear          592565 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 81.8+ MB

In [10]:
df2["starttime"] = pd.to_datetime(df2["starttime"])
df2["stoptime"] = pd.to_datetime(df2["stoptime"])

In [11]:
df2.loc[df2['gender'].isnull(), 'gender'] = 'Unknown'
df2.loc[df2['birthyear'].isnull(), 'birthyear'] = 0

In [12]:
df2.loc[df2['stoptime'].dt.year != 2015]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [13]:
df2.loc[df2['starttime'].dt.year != 2015]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [14]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893890 entries, 0 to 893889
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            893890 non-null  int64
 1   starttime          893890 non-null  datetime64[ns]
 2   stoptime           893890 non-null  datetime64[ns]
 3   bikeid             893890 non-null  int64
 4   tripduration       893890 non-null  int64
 5   from_station_id    893890 non-null  int64
 6   from_station_name  893890 non-null  object
 7   to_station_id      893890 non-null  int64
 8   to_station_name    893890 non-null  object
 9   usertype           893890 non-null  object
 10  gender             893890 non-null  object
 11  birthyear          893890 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 81.8+ MB

In [15]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533711 entries, 0 to 533710
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            533711 non-null  int64
 1   starttime          533711 non-null  object
 2   stoptime           533711 non-null  object
 3   bikeid             533711 non-null  int64
 4   tripduration       533711 non-null  int64
 5   from_station_id    533711 non-null  int64
 6   from_station_name  533711 non-null  object
 7   to_station_id      533711 non-null  int64
 8   to_station_name    533711 non-null  object
 9   usertype           533711 non-null  object
 10  gender             315629 non-null  object
 11  birthyear          315631 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 48.9+ MB

In [16]:
df3["starttime"] = pd.to_datetime(df3["starttime"])
df3["stoptime"] = pd.to_datetime(df3["stoptime"])

In [17]:
df3.loc[df3['gender'].isnull(), 'gender'] = 'Unknown'
df3.loc[df3['birthyear'].isnull(), 'birthyear'] = 0

In [18]:
df3.loc[df3['stoptime'].dt.year != 2015]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [19]:
df3.loc[df3['starttime'].dt.year != 2015]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [20]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533711 entries, 0 to 533710
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            533711 non-null  int64
 1   starttime          533711 non-null  datetime64[ns]
 2   stoptime           533711 non-null  datetime64[ns]
 3   bikeid             533711 non-null  int64
 4   tripduration       533711 non-null  int64
 5   from_station_id    533711 non-null  int64
 6   from_station_name  533711 non-null  object
 7   to_station_id      533711 non-null  int64
 8   to_station_name    533711 non-null  object
 9   usertype           533711 non-null  object
 10  gender             533711 non-null  object
 11  birthyear          533711 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 48.9+ MB

In [21]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495029 entries, 0 to 495028
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            495029 non-null  int64
 1   starttime          495029 non-null  object
 2   stoptime           495029 non-null  object
 3   bikeid             495029 non-null  int64
 4   tripduration       495029 non-null  int64
 5   from_station_id    495029 non-null  int64
 6   from_station_name  495029 non-null  object
 7   to_station_id      495029 non-null  int64
 8   to_station_name    495029 non-null  object
 9   usertype           495029 non-null  object
 10  gender             328940 non-null  object
 11  birthyear          328957 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 45.3+ MB

In [22]:
df4["starttime"] = pd.to_datetime(df4["starttime"])
df4["stoptime"] = pd.to_datetime(df4["stoptime"])

In [23]:
df4.loc[df4['gender'].isnull(), 'gender'] = 'Unknown'
df4.loc[df4['birthyear'].isnull(), 'birthyear'] = 0

In [24]:
df4.loc[df4['stoptime'].dt.year != 2015]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [25]:
df4.loc[df4['starttime'].dt.year != 2015]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [26]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495029 entries, 0 to 495028
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            495029 non-null  int64
 1   starttime          495029 non-null  datetime64[ns]
 2   stoptime           495029 non-null  datetime64[ns]
 3   bikeid             495029 non-null  int64
 4   tripduration       495029 non-null  int64
 5   from_station_id    495029 non-null  int64
 6   from_station_name  495029 non-null  object
 7   to_station_id      495029 non-null  int64
 8   to_station_name    495029 non-null  object
 9   usertype           495029 non-null  object
 10  gender             495029 non-null  object
 11  birthyear          495029 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 45.3+ MB

In [27]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427095 entries, 0 to 427094
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            427095 non-null  int64
 1   starttime          427095 non-null  object
 2   stoptime           427095 non-null  object
 3   bikeid             427095 non-null  int64
 4   tripduration       427095 non-null  int64
 5   from_station_id    427095 non-null  int64
 6   from_station_name  427095 non-null  object
 7   to_station_id      427095 non-null  int64
 8   to_station_name    427095 non-null  object
 9   usertype           427095 non-null  object
 10  gender             299532 non-null  object
 11  birthyear          299561 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 39.1+ MB

In [28]:
df5["starttime"] = pd.to_datetime(df5["starttime"])
df5["stoptime"] = pd.to_datetime(df5["stoptime"])

In [29]:
df5.loc[df5['gender'].isnull(), 'gender'] = 'Unknown'
df5.loc[df5['birthyear'].isnull(), 'birthyear'] = 0

In [30]:
df5.loc[df5['stoptime'].dt.year != 2015]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [31]:
df5.loc[df5['starttime'].dt.year != 2015]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [32]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427095 entries, 0 to 427094
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            427095 non-null  int64
 1   starttime          427095 non-null  datetime64[ns]
 2   stoptime           427095 non-null  datetime64[ns]
 3   bikeid             427095 non-null  int64
 4   tripduration       427095 non-null  int64
 5   from_station_id    427095 non-null  int64
 6   from_station_name  427095 non-null  object
 7   to_station_id      427095 non-null  int64
 8   to_station_name    427095 non-null  object
 9   usertype           427095 non-null  object
 10  gender             427095 non-null  object
 11  birthyear          427095 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 39.1+ MB

In [33]:
df6.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631365 entries, 0 to 631364
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            631365 non-null  int64
 1   starttime          631365 non-null  object
 2   stoptime           631365 non-null  object
 3   bikeid             631365 non-null  int64
 4   tripduration       631365 non-null  int64
 5   from_station_id    631365 non-null  int64
 6   from_station_name  631365 non-null  object
 7   to_station_id      631365 non-null  int64
 8   to_station_name    631365 non-null  object
 9   usertype           631365 non-null  object
 10  gender             538956 non-null  object
 11  birthyear          539012 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 57.8+ MB

In [34]:
df6["starttime"] = pd.to_datetime(df6["starttime"])
df6["stoptime"] = pd.to_datetime(df6["stoptime"])

In [35]:
df6.loc[df6['gender'].isnull(), 'gender'] = 'Unknown'
df6.loc[df6['birthyear'].isnull(), 'birthyear'] = 0

In [36]:
df6.loc[df6['stoptime'].dt.year != 2015]

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
3,8547205,2015-12-31 23:37:00,2016-01-01 00:02:00,707,1513,454,Broadway & Granville Ave,303,Broadway & Cornelia Ave,Subscriber,Female,1967.0
131,8547008,2015-12-31 19:13:00,2016-01-01 01:34:00,1649,22850,144,Larrabee St & Webster Ave,253,Clifton Ave & Lawrence Ave,Subscriber,Male,1960.0
168,8546946,2015-12-31 18:46:00,2016-01-01 00:49:00,868,21812,231,Sheridan Rd & Montrose Ave,253,Clifton Ave & Lawrence Ave,Subscriber,Male,1979.0

In [37]:
df6.drop([3, 131, 168], axis=0, inplace=True)

In [38]:
df6.loc[df6['starttime'].dt.year != 2015]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [39]:
df6.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 631362 entries, 0 to 631364
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            631362 non-null  int64
 1   starttime          631362 non-null  datetime64[ns]
 2   stoptime           631362 non-null  datetime64[ns]
 3   bikeid             631362 non-null  int64
 4   tripduration       631362 non-null  int64
 5   from_station_id    631362 non-null  int64
 6   from_station_name  631362 non-null  object
 7   to_station_id      631362 non-null  int64
 8   to_station_name    631362 non-null  object
 9   usertype           631362 non-null  object
 10  gender             631362 non-null  object
 11  birthyear          631362 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 62.6+ MB

In [40]:
df7.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          474 non-null    int64
 1   name        474 non-null    object
 2   latitude    474 non-null    float64
 3   longitude   474 non-null    float64
 4   dpcapacity  474 non-null    int64
 5   landmark    474 non-null    int64
dtypes: float64(2), int64(3), object(1)
memory usage: 22.3+ KB

In [41]:
df7.head()

   id                      name   latitude  longitude  dpcapacity  landmark
0   2  Michigan Ave & Balbo Ave  41.872293 -87.624091          35       541
1   3            Shedd Aquarium  41.867226 -87.615355          31       544
2   4            Burnham Harbor  41.856268 -87.613348          23       545
3   5    State St & Harrison St  41.874053 -87.627716          23        30
4   6            Dusable Harbor  41.885042 -87.612795          31       548

* concat and result in 2 cleaned CSVs. Revert from variables back to cleaned CSV.