In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2016/Divvy_Trips_2016_Q1.csv')
df2 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2016/Divvy_Stations_2016_Q1Q2.csv')
df3 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2016/Divvy_Trips_2016_04.csv')
df4 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2016/Divvy_Trips_2016_05.csv')
df5 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2016/Divvy_Trips_2016_06.csv')
df6 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2016/Divvy_Trips_2016_Q3.csv')
df7 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2016/Divvy_Stations_2016_Q3.csv')
df8 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2016/Divvy_Stations_2016_Q4.csv')
df9 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2016/Divvy_Trips_2016_Q4.csv')

In [3]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396913 entries, 0 to 396912
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            396913 non-null  int64
 1   starttime          396913 non-null  object
 2   stoptime           396913 non-null  object
 3   bikeid             396913 non-null  int64
 4   tripduration       396913 non-null  int64
 5   from_station_id    396913 non-null  int64
 6   from_station_name  396913 non-null  object
 7   to_station_id      396913 non-null  int64
 8   to_station_name    396913 non-null  object
 9   usertype           396913 non-null  object
 10  gender             354870 non-null  object
 11  birthyear          354900 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 36.3+ MB

In [4]:
df1["starttime"] = pd.to_datetime(df1["starttime"])
df1["stoptime"] = pd.to_datetime(df1["stoptime"])

In [5]:
df1.loc[df1['gender'].isnull(), 'gender'] = 'Unknown'
df1.loc[df1['birthyear'].isnull(), 'birthyear'] = 0

In [6]:
df1.loc[df1['stoptime'].dt.year != 2016]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [7]:
df1.loc[df1['starttime'].dt.year != 2016]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [8]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396913 entries, 0 to 396912
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            396913 non-null  int64
 1   starttime          396913 non-null  datetime64[ns]
 2   stoptime           396913 non-null  datetime64[ns]
 3   bikeid             396913 non-null  int64
 4   tripduration       396913 non-null  int64
 5   from_station_id    396913 non-null  int64
 6   from_station_name  396913 non-null  object
 7   to_station_id      396913 non-null  int64
 8   to_station_name    396913 non-null  object
 9   usertype           396913 non-null  object
 10  gender             396913 non-null  object
 11  birthyear          396913 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 36.3+ MB

In [9]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231635 entries, 0 to 231634
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            231635 non-null  int64
 1   starttime          231635 non-null  object
 2   stoptime           231635 non-null  object
 3   bikeid             231635 non-null  int64
 4   tripduration       231635 non-null  int64
 5   from_station_id    231635 non-null  int64
 6   from_station_name  231635 non-null  object
 7   to_station_id      231635 non-null  int64
 8   to_station_name    231635 non-null  object
 9   usertype           231635 non-null  object
 10  gender             182217 non-null  object
 11  birthyear          182243 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 21.2+ MB

In [10]:
df3["starttime"] = pd.to_datetime(df3["starttime"])
df3["stoptime"] = pd.to_datetime(df3["stoptime"])

In [11]:
df3.loc[df3['gender'].isnull(), 'gender'] = 'Unknown'
df3.loc[df3['birthyear'].isnull(), 'birthyear'] = 0

In [12]:
df3.loc[df3['stoptime'].dt.year != 2016]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [13]:
df3.loc[df3['starttime'].dt.year != 2016]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [14]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231635 entries, 0 to 231634
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            231635 non-null  int64
 1   starttime          231635 non-null  datetime64[ns]
 2   stoptime           231635 non-null  datetime64[ns]
 3   bikeid             231635 non-null  int64
 4   tripduration       231635 non-null  int64
 5   from_station_id    231635 non-null  int64
 6   from_station_name  231635 non-null  object
 7   to_station_id      231635 non-null  int64
 8   to_station_name    231635 non-null  object
 9   usertype           231635 non-null  object
 10  gender             231635 non-null  object
 11  birthyear          231635 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 21.2+ MB

In [15]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363319 entries, 0 to 363318
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            363319 non-null  int64
 1   starttime          363319 non-null  object
 2   stoptime           363319 non-null  object
 3   bikeid             363319 non-null  int64
 4   tripduration       363319 non-null  int64
 5   from_station_id    363319 non-null  int64
 6   from_station_name  363319 non-null  object
 7   to_station_id      363319 non-null  int64
 8   to_station_name    363319 non-null  object
 9   usertype           363319 non-null  object
 10  gender             259779 non-null  object
 11  birthyear          259808 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 33.3+ MB

In [16]:
df4["starttime"] = pd.to_datetime(df4["starttime"])
df4["stoptime"] = pd.to_datetime(df4["stoptime"])

In [17]:
df4.loc[df4['gender'].isnull(), 'gender'] = 'Unknown'
df4.loc[df4['birthyear'].isnull(), 'birthyear'] = 0

In [18]:
df4.loc[df4['stoptime'].dt.year != 2016]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [19]:
df4.loc[df4['starttime'].dt.year != 2016]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [20]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363319 entries, 0 to 363318
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            363319 non-null  int64
 1   starttime          363319 non-null  datetime64[ns]
 2   stoptime           363319 non-null  datetime64[ns]
 3   bikeid             363319 non-null  int64
 4   tripduration       363319 non-null  int64
 5   from_station_id    363319 non-null  int64
 6   from_station_name  363319 non-null  object
 7   to_station_id      363319 non-null  int64
 8   to_station_name    363319 non-null  object
 9   usertype           363319 non-null  object
 10  gender             363319 non-null  object
 11  birthyear          363319 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 33.3+ MB

In [21]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477873 entries, 0 to 477872
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            477873 non-null  int64
 1   starttime          477873 non-null  object
 2   stoptime           477873 non-null  object
 3   bikeid             477873 non-null  int64
 4   tripduration       477873 non-null  int64
 5   from_station_id    477873 non-null  int64
 6   from_station_name  477873 non-null  object
 7   to_station_id      477873 non-null  int64
 8   to_station_name    477873 non-null  object
 9   usertype           477873 non-null  object
 10  gender             349899 non-null  object
 11  birthyear          349964 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 43.8+ MB

In [22]:
df5["starttime"] = pd.to_datetime(df5["starttime"])
df5["stoptime"] = pd.to_datetime(df5["stoptime"])

In [23]:
df5.loc[df5['gender'].isnull(), 'gender'] = 'Unknown'
df5.loc[df5['birthyear'].isnull(), 'birthyear'] = 0

In [24]:
df5.loc[df5['stoptime'].dt.year != 2016]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [25]:
df5.loc[df5['starttime'].dt.year != 2016]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [26]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477873 entries, 0 to 477872
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            477873 non-null  int64
 1   starttime          477873 non-null  datetime64[ns]
 2   stoptime           477873 non-null  datetime64[ns]
 3   bikeid             477873 non-null  int64
 4   tripduration       477873 non-null  int64
 5   from_station_id    477873 non-null  int64
 6   from_station_name  477873 non-null  object
 7   to_station_id      477873 non-null  int64
 8   to_station_name    477873 non-null  object
 9   usertype           477873 non-null  object
 10  gender             477873 non-null  object
 11  birthyear          477873 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 43.8+ MB

In [27]:
df6.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1441811 entries, 0 to 1441810
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   trip_id            1441811 non-null  int64
 1   starttime          1441811 non-null  object
 2   stoptime           1441811 non-null  object
 3   bikeid             1441811 non-null  int64
 4   tripduration       1441811 non-null  int64
 5   from_station_id    1441811 non-null  int64
 6   from_station_name  1441811 non-null  object
 7   to_station_id      1441811 non-null  int64
 8   to_station_name    1441811 non-null  object
 9   usertype           1441811 non-null  object
 10  gender             1015612 non-null  object
 11  birthyear          1015731 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 132.0+ MB

In [28]:
df6.loc[df6['gender'].isnull(), 'gender'] = 'Unknown'
df6.loc[df6['birthyear'].isnull(), 'birthyear'] = 0

In [29]:
df6["starttime"] = pd.to_datetime(df6["starttime"])
df6["stoptime"] = pd.to_datetime(df6["stoptime"])

In [30]:
df6.loc[df6['stoptime'].dt.year != 2016]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [31]:
df6.loc[df6['starttime'].dt.year != 2016]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [32]:
df6.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1441811 entries, 0 to 1441810
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   trip_id            1441811 non-null  int64
 1   starttime          1441811 non-null  datetime64[ns]
 2   stoptime           1441811 non-null  datetime64[ns]
 3   bikeid             1441811 non-null  int64
 4   tripduration       1441811 non-null  int64
 5   from_station_id    1441811 non-null  int64
 6   from_station_name  1441811 non-null  object
 7   to_station_id      1441811 non-null  int64
 8   to_station_name    1441811 non-null  object
 9   usertype           1441811 non-null  object
 10  gender             1441811 non-null  object
 11  birthyear          1441811 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 132.0+ MB

In [33]:
df9.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683832 entries, 0 to 683831
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            683832 non-null  int64
 1   starttime          683832 non-null  object
 2   stoptime           683832 non-null  object
 3   bikeid             683832 non-null  int64
 4   tripduration       683832 non-null  int64
 5   from_station_id    683832 non-null  int64
 6   from_station_name  683832 non-null  object
 7   to_station_id      683832 non-null  int64
 8   to_station_name    683832 non-null  object
 9   usertype           683832 non-null  object
 10  gender             574577 non-null  object
 11  birthyear          574612 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 62.6+ MB

In [34]:
df9["starttime"] = pd.to_datetime(df9["starttime"])
df9["stoptime"] = pd.to_datetime(df9["stoptime"])

In [35]:
df9.loc[df9['gender'].isnull(), 'gender'] = 'Unknown'
df9.loc[df9['birthyear'].isnull(), 'birthyear'] = 0

In [36]:
df9.loc[df9['stoptime'].dt.year != 2016]

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,12979228,2016-12-31 23:57:52,2017-01-01 00:06:44,5076,532,502,California Ave & Altgeld St,258,Logan Blvd & Elston Ave,Customer,Unknown,0.0
1,12979227,2016-12-31 23:53:18,2017-01-01 00:08:13,5114,895,195,Columbus Dr & Randolph St,25,Michigan Ave & Pearson St,Customer,Unknown,0.0
2,12979226,2016-12-31 23:53:07,2017-01-01 00:08:38,1026,931,195,Columbus Dr & Randolph St,25,Michigan Ave & Pearson St,Customer,Unknown,0.0
3,12979225,2016-12-31 23:51:31,2017-01-01 00:07:41,504,970,199,Wabash Ave & Grand Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1985.0
4,12979224,2016-12-31 23:51:31,2017-01-01 00:07:51,4451,980,199,Wabash Ave & Grand Ave,35,Streeter Dr & Grand Ave,Subscriber,Female,1985.0
6,12979222,2016-12-31 23:47:33,2017-01-01 00:18:36,48,1863,177,Theater on the Lake,140,Dearborn Pkwy & Delaware Pl,Customer,Unknown,0.0
7,12979221,2016-12-31 23:47:03,2017-01-01 00:18:10,2865,1867,177,Theater on the Lake,140,Dearborn Pkwy & Delaware Pl,Customer,Unknown,0.0
8,12979220,2016-12-31 23:45:41,2017-01-01 00:13:17,1779,1656,195,Columbus Dr & Randolph St,195,Columbus Dr & Randolph St,Customer,Unknown,0.0
11,12979217,2016-12-31 23:43:27,2017-01-01 00:42:04,5253,3517,77,Clinton St & Madison St,77,Clinton St & Madison St,Customer,Unknown,0.0
14,12979214,2016-12-31 23:43:11,2017-01-01 00:42:04,2748,3533,77,Clinton St & Madison St,77,Clinton St & Madison St,Customer,Unknown,0.0
55,12979172,2016-12-31 22:08:18,2017-01-01 00:26:38,2956,8300,76,Lake Shore Dr & Monroe St,76,Lake Shore Dr & Monroe St,Customer,Unknown,0.0
56,12979171,2016-12-31 22:07:59,2017-01-01 00:26:38,4460,8319,76,Lake Shore Dr & Monroe St,76,Lake Shore Dr & Monroe St,Customer,Unknown,0.0
362,12978575,2016-12-31 17:06:41,2017-01-01 01:31:01,5440,30260,194,Wabash Ave & Wacker Pl,125,Rush St & Hubbard St,Customer,Unknown,0.0

In [37]:
df9.drop([0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 14, 55, 56, 362], axis=0, inplace=True)

In [38]:
df9.loc[df9['starttime'].dt.year != 2016]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [39]:
df9.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683818 entries, 9 to 683831
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            683818 non-null  int64
 1   starttime          683818 non-null  datetime64[ns]
 2   stoptime           683818 non-null  datetime64[ns]
 3   bikeid             683818 non-null  int64
 4   tripduration       683818 non-null  int64
 5   from_station_id    683818 non-null  int64
 6   from_station_name  683818 non-null  object
 7   to_station_id      683818 non-null  int64
 8   to_station_name    683818 non-null  object
 9   usertype           683818 non-null  object
 10  gender             683818 non-null  object
 11  birthyear          683818 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 67.8+ MB

In [40]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           535 non-null    int64
 1   name         535 non-null    object
 2   latitude     535 non-null    float64
 3   longitude    535 non-null    float64
 4   dpcapacity   535 non-null    int64
 5   online_date  535 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 25.2+ KB

In [41]:
df2.rename(columns = {'online_date':'online date'}, inplace = True)

In [42]:
df2["online date"] = pd.to_datetime(df2["online date"])

In [43]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           535 non-null    int64
 1   name         535 non-null    object
 2   latitude     535 non-null    float64
 3   longitude    535 non-null    float64
 4   dpcapacity   535 non-null    int64
 5   online date  535 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 25.2+ KB

In [44]:
df7.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           581 non-null    int64
 1   name         581 non-null    object
 2   latitude     581 non-null    float64
 3   longitude    581 non-null    float64
 4   dpcapacity   581 non-null    int64
 5   online_date  581 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 27.4+ KB

In [45]:
df7.rename(columns = {'online_date':'online date'}, inplace = True)

In [46]:
df7["online date"] = pd.to_datetime(df7["online date"])

In [47]:
df7.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           581 non-null    int64
 1   name         581 non-null    object
 2   latitude     581 non-null    float64
 3   longitude    581 non-null    float64
 4   dpcapacity   581 non-null    int64
 5   online date  581 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 27.4+ KB

In [48]:
df8.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           581 non-null    int64
 1   name         581 non-null    object
 2   latitude     581 non-null    float64
 3   longitude    581 non-null    float64
 4   dpcapacity   581 non-null    int64
 5   online_date  581 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 27.4+ KB

In [49]:
df8.rename(columns = {'online_date':'online date'}, inplace = True)

In [50]:
df8["online date"] = pd.to_datetime(df8["online date"])

In [51]:
df8.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           581 non-null    int64
 1   name         581 non-null    object
 2   latitude     581 non-null    float64
 3   longitude    581 non-null    float64
 4   dpcapacity   581 non-null    int64
 5   online date  581 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 27.4+ KB

* concat and result in 2 cleaned CSVs. Revert from variables back to cleaned CSV.