In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2017/Divvy_Trips_2017_Q1.csv')
df2 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2017/Divvy_Trips_2017_Q2.csv')
df3 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2017/Divvy_Trips_2017_Q3.csv')
df4 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2017/Divvy_Trips_2017_Q4.csv')
df5 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2017/Divvy_Stations_2017_Q1Q2.csv')
df6 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2017/Divvy_Stations_2017_Q3Q4.csv')

In [3]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431691 entries, 0 to 431690
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            431691 non-null  int64
 1   start_time         431691 non-null  object
 2   end_time           431691 non-null  object
 3   bikeid             431691 non-null  int64
 4   tripduration       431691 non-null  int64
 5   from_station_id    431691 non-null  int64
 6   from_station_name  431691 non-null  object
 7   to_station_id      431691 non-null  int64
 8   to_station_name    431691 non-null  object
 9   usertype           431691 non-null  object
 10  gender             390312 non-null  object
 11  birthyear          390394 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 39.5+ MB

In [4]:
df1.rename(columns = {'start_time':'starttime'}, inplace = True)
df1.rename(columns = {'end_time' : 'stoptime'}, inplace = True)

In [5]:
df1["starttime"] = pd.to_datetime(df1["starttime"])
df1["stoptime"] = pd.to_datetime(df1["stoptime"])

In [6]:
df1.loc[df1['gender'].isnull(), 'gender'] = 'Unknown'
df1.loc[df1['birthyear'].isnull(), 'birthyear'] = 0

In [7]:
df1.loc[df1['stoptime'].dt.year != 2017]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [8]:
df1.loc[df1['starttime'].dt.year != 2017]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [9]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431691 entries, 0 to 431690
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            431691 non-null  int64
 1   starttime          431691 non-null  datetime64[ns]
 2   stoptime           431691 non-null  datetime64[ns]
 3   bikeid             431691 non-null  int64
 4   tripduration       431691 non-null  int64
 5   from_station_id    431691 non-null  int64
 6   from_station_name  431691 non-null  object
 7   to_station_id      431691 non-null  int64
 8   to_station_name    431691 non-null  object
 9   usertype           431691 non-null  object
 10  gender             431691 non-null  object
 11  birthyear          431691 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 39.5+ MB

In [10]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119814 entries, 0 to 1119813
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   trip_id            1119814 non-null  int64
 1   start_time         1119814 non-null  object
 2   end_time           1119814 non-null  object
 3   bikeid             1119814 non-null  int64
 4   tripduration       1119814 non-null  int64
 5   from_station_id    1119814 non-null  int64
 6   from_station_name  1119814 non-null  object
 7   to_station_id      1119814 non-null  int64
 8   to_station_name    1119814 non-null  object
 9   usertype           1119814 non-null  object
 10  gender             844326 non-null   object
 11  birthyear          844428 non-null   float64
dtypes: float64(1), int64(5), object(6)
memory usage: 102.5+ MB

In [11]:
df2.rename(columns = {'start_time':'starttime'}, inplace = True)
df2.rename(columns = {'end_time' : 'stoptime'}, inplace = True)

In [12]:
df2["starttime"] = pd.to_datetime(df2["starttime"])
df2["stoptime"] = pd.to_datetime(df2["stoptime"])

In [13]:
df2.loc[df2['gender'].isnull(), 'gender'] = 'Unknown'
df2.loc[df2['birthyear'].isnull(), 'birthyear'] = 0

In [14]:
df2.loc[df2['stoptime'].dt.year != 2017]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [15]:
df2.loc[df2['starttime'].dt.year != 2017]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [16]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119814 entries, 0 to 1119813
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   trip_id            1119814 non-null  int64
 1   starttime          1119814 non-null  datetime64[ns]
 2   stoptime           1119814 non-null  datetime64[ns]
 3   bikeid             1119814 non-null  int64
 4   tripduration       1119814 non-null  int64
 5   from_station_id    1119814 non-null  int64
 6   from_station_name  1119814 non-null  object
 7   to_station_id      1119814 non-null  int64
 8   to_station_name    1119814 non-null  object
 9   usertype           1119814 non-null  object
 10  gender             1119814 non-null  object
 11  birthyear          1119814 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 102.5+ MB

In [17]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1608270 entries, 0 to 1608269
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   trip_id            1608270 non-null  int64
 1   start_time         1608270 non-null  object
 2   end_time           1608270 non-null  object
 3   bikeid             1608270 non-null  int64
 4   tripduration       1608270 non-null  int64
 5   from_station_id    1608270 non-null  int64
 6   from_station_name  1608270 non-null  object
 7   to_station_id      1608270 non-null  int64
 8   to_station_name    1608270 non-null  object
 9   usertype           1608270 non-null  object
 10  gender             1166890 non-null  object
 11  birthyear          1167022 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 147.2+ MB

In [18]:
df3.rename(columns = {'start_time':'starttime'}, inplace = True)
df3.rename(columns = {'end_time' : 'stoptime'}, inplace = True)

In [19]:
df3["starttime"] = pd.to_datetime(df3["starttime"])
df3["stoptime"] = pd.to_datetime(df3["stoptime"])

In [20]:
df3.loc[df3['gender'].isnull(), 'gender'] = 'Unknown'
df3.loc[df3['birthyear'].isnull(), 'birthyear'] = 0

In [21]:
df3.loc[df3['stoptime'].dt.year != 2017]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [22]:
df3.loc[df3['starttime'].dt.year != 2017]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [23]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1608270 entries, 0 to 1608269
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   trip_id            1608270 non-null  int64
 1   starttime          1608270 non-null  datetime64[ns]
 2   stoptime           1608270 non-null  datetime64[ns]
 3   bikeid             1608270 non-null  int64
 4   tripduration       1608270 non-null  int64
 5   from_station_id    1608270 non-null  int64
 6   from_station_name  1608270 non-null  object
 7   to_station_id      1608270 non-null  int64
 8   to_station_name    1608270 non-null  object
 9   usertype           1608270 non-null  object
 10  gender             1608270 non-null  object
 11  birthyear          1608270 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 147.2+ MB

In [24]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669239 entries, 0 to 669238
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            669239 non-null  int64
 1   start_time         669239 non-null  object
 2   end_time           669239 non-null  object
 3   bikeid             669239 non-null  int64
 4   tripduration       669239 non-null  int64
 5   from_station_id    669239 non-null  int64
 6   from_station_name  669239 non-null  object
 7   to_station_id      669239 non-null  int64
 8   to_station_name    669239 non-null  object
 9   usertype           669239 non-null  object
 10  gender             590659 non-null  object
 11  birthyear          590412 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 61.3+ MB

In [25]:
df4.rename(columns = {'start_time':'starttime'}, inplace = True)
df4.rename(columns = {'end_time' : 'stoptime'}, inplace = True)

In [26]:
df4["starttime"] = pd.to_datetime(df4["starttime"])
df4["stoptime"] = pd.to_datetime(df4["stoptime"])

In [27]:
df4.loc[df4['gender'].isnull(), 'gender'] = 'Unknown'
df4.loc[df4['birthyear'].isnull(), 'birthyear'] = 0

In [28]:
df4.loc[df4['stoptime'].dt.year != 2017]

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17536701,2017-12-31 23:58:00,2018-01-01 00:03:00,3304,284,159,Claremont Ave & Hirsch St,69,Damen Ave & Pierce Ave,Subscriber,Male,1988.0
1,17536700,2017-12-31 23:54:00,2018-01-01 00:18:00,5975,1402,145,Mies van der Rohe Way & Chestnut St,145,Mies van der Rohe Way & Chestnut St,Customer,Unknown,0.0
2,17536699,2017-12-31 23:54:00,2018-01-01 00:18:00,4906,1441,145,Mies van der Rohe Way & Chestnut St,145,Mies van der Rohe Way & Chestnut St,Customer,Unknown,0.0

In [29]:
df4.drop([0, 1, 2], axis=0, inplace=True)

In [30]:
df4.loc[df4['starttime'].dt.year != 2017]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [31]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669236 entries, 3 to 669238
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            669236 non-null  int64
 1   starttime          669236 non-null  datetime64[ns]
 2   stoptime           669236 non-null  datetime64[ns]
 3   bikeid             669236 non-null  int64
 4   tripduration       669236 non-null  int64
 5   from_station_id    669236 non-null  int64
 6   from_station_name  669236 non-null  object
 7   to_station_id      669236 non-null  int64
 8   to_station_name    669236 non-null  object
 9   usertype           669236 non-null  object
 10  gender             669236 non-null  object
 11  birthyear          669236 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 61.3+ MB

In [32]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           582 non-null    int64
 1   name         582 non-null    object
 2   city         582 non-null    object
 3   latitude     582 non-null    float64
 4   longitude    582 non-null    float64
 5   dpcapacity   582 non-null    int64
 6   online_date  582 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 32.0+ KB

In [33]:
df5.rename(columns = {'online_date':'online date'}, inplace = True)

In [34]:
df5["online date"] = pd.to_datetime(df5["online date"])

In [35]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           582 non-null    int64
 1   name         582 non-null    object
 2   city         582 non-null    object
 3   latitude     582 non-null    float64
 4   longitude    582 non-null    float64
 5   dpcapacity   582 non-null    int64
 6   online date  582 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 32.0+ KB

In [36]:
df6.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           585 non-null    int64
 1   name         585 non-null    object
 2   city         585 non-null    object
 3   latitude     585 non-null    float64
 4   longitude    585 non-null    float64
 5   dpcapacity   585 non-null    int64
 6   online_date  585 non-null    object
 7   Unnamed: 7   0 non-null      float64
dtypes: float64(3), int64(2), object(3)
memory usage: 36.7+ KB

In [37]:
df6.drop(['Unnamed: 7'], axis=1, inplace = True)

In [38]:
df6.rename(columns = {'online_date':'online date'},  inplace = True)

In [39]:
df6['online date'] = pd.to_datetime(df6['online date'])

In [40]:
df6.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           585 non-null    int64
 1   name         585 non-null    object
 2   city         585 non-null    object
 3   latitude     585 non-null    float64
 4   longitude    585 non-null    float64
 5   dpcapacity   585 non-null    int64
 6   online date  585 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 32.1+ KB

In [41]:
df_2017_2 = pd.concat([df5, df6])

In [42]:
df_2017 = pd.concat([df1, df2, df3, df4])

In [43]:
df_2017_2.to_csv('2017_Sub_Clean.csv', index=False)

In [ ]:
df_2017.to_csv('2017_Clean.csv', index=False)

* concat and result in 2 cleaned CSVs. Revert from variables back to cleaned CSV.