In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2018/Divvy_Trips_2018_Q1.csv')
df2 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2018/Divvy_Trips_2018_Q2.csv')
df3 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2018/Divvy_Trips_2018_Q3.csv')
df4 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2018/Divvy_Trips_2018_Q4.csv')

In [3]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387145 entries, 0 to 387144
Data columns (total 12 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   01 - Rental Details Rental ID                     387145 non-null  int64
 1   01 - Rental Details Local Start Time              387145 non-null  object
 2   01 - Rental Details Local End Time                387145 non-null  object
 3   01 - Rental Details Bike ID                       387145 non-null  int64
 4   01 - Rental Details Duration In Seconds Uncapped  387145 non-null  object
 5   03 - Rental Start Station ID                      387145 non-null  int64
 6   03 - Rental Start Station Name                    387145 non-null  object
 7   02 - Rental End Station ID                        387145 non-null  int64
 8   02 - Rental End Station Name                      387145 non-null  object
 9   User Type                                         387145 non-null  object
 10  Member Gender                                     364652 non-null  object
 11  05 - Member Details Member Birthday Year          364823 non-null  float64
dtypes: float64(1), int64(4), object(7)
memory usage: 35.4+ MB

In [4]:
df1.rename(columns = {'01 - Rental Details Rental ID':'trip_id'}, inplace = True)
df1.rename(columns = {'01 - Rental Details Local Start Time':'starttime'}, inplace = True)
df1.rename(columns = {'01 - Rental Details Local End Time':'stoptime'}, inplace = True)
df1.rename(columns = {'01 - Rental Details Bike ID':'bikeid'}, inplace = True)
df1.rename(columns = {'01 - Rental Details Duration In Seconds Uncapped':'tripduration'}, inplace = True)
df1.rename(columns = {'03 - Rental Start Station ID':'from_station_id'}, inplace = True)
df1.rename(columns = {'03 - Rental Start Station Name':'from_station_name'}, inplace = True)
df1.rename(columns = {'02 - Rental End Station ID':'to_station_id'}, inplace = True)
df1.rename(columns = {'02 - Rental End Station Name':'to_station_name'}, inplace = True)
df1.rename(columns = {'User Type':'usertype'}, inplace = True)
df1.rename(columns = {'Member Gender':'gender'}, inplace = True)
df1.rename(columns = {'05 - Member Details Member Birthday Year':'birthyear'}, inplace = True)

In [5]:
df1["starttime"] = pd.to_datetime(df1["starttime"])
df1["stoptime"] = pd.to_datetime(df1["stoptime"])

In [6]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387145 entries, 0 to 387144
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            387145 non-null  int64
 1   starttime          387145 non-null  datetime64[ns]
 2   stoptime           387145 non-null  datetime64[ns]
 3   bikeid             387145 non-null  int64
 4   tripduration       387145 non-null  object
 5   from_station_id    387145 non-null  int64
 6   from_station_name  387145 non-null  object
 7   to_station_id      387145 non-null  int64
 8   to_station_name    387145 non-null  object
 9   usertype           387145 non-null  object
 10  gender             364652 non-null  object
 11  birthyear          364823 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(4), object(5)
memory usage: 35.4+ MB

In [7]:
df1['tripduration'] = df1['tripduration'].str.replace(',', '').astype(float)

In [8]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387145 entries, 0 to 387144
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            387145 non-null  int64
 1   starttime          387145 non-null  datetime64[ns]
 2   stoptime           387145 non-null  datetime64[ns]
 3   bikeid             387145 non-null  int64
 4   tripduration       387145 non-null  float64
 5   from_station_id    387145 non-null  int64
 6   from_station_name  387145 non-null  object
 7   to_station_id      387145 non-null  int64
 8   to_station_name    387145 non-null  object
 9   usertype           387145 non-null  object
 10  gender             364652 non-null  object
 11  birthyear          364823 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(4), object(4)
memory usage: 35.4+ MB

In [9]:
df1['tripduration'] = df1['tripduration'].astype(int)

In [10]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387145 entries, 0 to 387144
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            387145 non-null  int64
 1   starttime          387145 non-null  datetime64[ns]
 2   stoptime           387145 non-null  datetime64[ns]
 3   bikeid             387145 non-null  int64
 4   tripduration       387145 non-null  int64
 5   from_station_id    387145 non-null  int64
 6   from_station_name  387145 non-null  object
 7   to_station_id      387145 non-null  int64
 8   to_station_name    387145 non-null  object
 9   usertype           387145 non-null  object
 10  gender             364652 non-null  object
 11  birthyear          364823 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 35.4+ MB

In [11]:
df1.loc[df1['gender'].isnull(), 'gender'] = 'Unknown'
df1.loc[df1['birthyear'].isnull(), 'birthyear'] = 0

In [12]:
df1.loc[df1['stoptime'].dt.year != 2018]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [13]:
df1.loc[df1['starttime'].dt.year != 2018]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [14]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387145 entries, 0 to 387144
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            387145 non-null  int64
 1   starttime          387145 non-null  datetime64[ns]
 2   stoptime           387145 non-null  datetime64[ns]
 3   bikeid             387145 non-null  int64
 4   tripduration       387145 non-null  int64
 5   from_station_id    387145 non-null  int64
 6   from_station_name  387145 non-null  object
 7   to_station_id      387145 non-null  int64
 8   to_station_name    387145 non-null  object
 9   usertype           387145 non-null  object
 10  gender             387145 non-null  object
 11  birthyear          387145 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 35.4+ MB

In [15]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059681 entries, 0 to 1059680
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   trip_id            1059681 non-null  int64
 1   start_time         1059681 non-null  object
 2   end_time           1059681 non-null  object
 3   bikeid             1059681 non-null  int64
 4   tripduration       1059681 non-null  object
 5   from_station_id    1059681 non-null  int64
 6   from_station_name  1059681 non-null  object
 7   to_station_id      1059681 non-null  int64
 8   to_station_name    1059681 non-null  object
 9   usertype           1059681 non-null  object
 10  gender             863047 non-null   object
 11  birthyear          864540 non-null   float64
dtypes: float64(1), int64(4), object(7)
memory usage: 97.0+ MB

In [16]:
df2.rename(columns = {'start_time':'starttime'}, inplace = True)
df2.rename(columns = {'end_time' : 'stoptime'}, inplace = True)

In [17]:
df2["starttime"] = pd.to_datetime(df2["starttime"])
df2["stoptime"] = pd.to_datetime(df2["stoptime"])

In [18]:
df2['tripduration'] = df2['tripduration'].str.replace(',', '').astype(float)

In [19]:
df2['tripduration'] = df2['tripduration'].astype(int)

In [20]:
df2.loc[df2['starttime'].dt.year != 2018]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [21]:
df2.loc[df2['stoptime'].dt.year != 2018]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [22]:
df2.loc[df2['gender'].isnull(), 'gender'] = 'Unknown'
df2.loc[df2['birthyear'].isnull(), 'birthyear'] = 0

In [23]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059681 entries, 0 to 1059680
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   trip_id            1059681 non-null  int64
 1   starttime          1059681 non-null  datetime64[ns]
 2   stoptime           1059681 non-null  datetime64[ns]
 3   bikeid             1059681 non-null  int64
 4   tripduration       1059681 non-null  int64
 5   from_station_id    1059681 non-null  int64
 6   from_station_name  1059681 non-null  object
 7   to_station_id      1059681 non-null  int64
 8   to_station_name    1059681 non-null  object
 9   usertype           1059681 non-null  object
 10  gender             1059681 non-null  object
 11  birthyear          1059681 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 97.0+ MB

In [24]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513570 entries, 0 to 1513569
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   trip_id            1513570 non-null  int64
 1   start_time         1513570 non-null  object
 2   end_time           1513570 non-null  object
 3   bikeid             1513570 non-null  int64
 4   tripduration       1513570 non-null  object
 5   from_station_id    1513570 non-null  int64
 6   from_station_name  1513570 non-null  object
 7   to_station_id      1513570 non-null  int64
 8   to_station_name    1513570 non-null  object
 9   usertype           1513570 non-null  object
 10  gender             1218574 non-null  object
 11  birthyear          1221990 non-null  float64
dtypes: float64(1), int64(4), object(7)
memory usage: 138.6+ MB

In [25]:
df3.rename(columns = {'start_time':'starttime'}, inplace = True)
df3.rename(columns = {'end_time' : 'stoptime'}, inplace = True)

In [26]:
df3["starttime"] = pd.to_datetime(df3["starttime"])
df3["stoptime"] = pd.to_datetime(df3["stoptime"])

In [27]:
df3.loc[df3['gender'].isnull(), 'gender'] = 'Unknown'
df3.loc[df3['birthyear'].isnull(), 'birthyear'] = 0

In [28]:
df3['tripduration'] = df3['tripduration'].str.replace(',', '').astype(float)

In [29]:
df3['tripduration'] = df3['tripduration'].astype(int)

In [30]:
df3.loc[df3['starttime'].dt.year != 2018]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [31]:
df3.loc[df3['stoptime'].dt.year != 2018]

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
1243771,20673996,2018-09-13 08:41:37,2019-01-06 14:40:28,1792,9961130,192,Canal St & Adams St,452,Western Ave & Granville Ave,Subscriber,Male,1969.0

In [32]:
df3.drop([1243771], axis=0, inplace=True)

In [33]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1513569 entries, 0 to 1513569
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   trip_id            1513569 non-null  int64
 1   starttime          1513569 non-null  datetime64[ns]
 2   stoptime           1513569 non-null  datetime64[ns]
 3   bikeid             1513569 non-null  int64
 4   tripduration       1513569 non-null  int64
 5   from_station_id    1513569 non-null  int64
 6   from_station_name  1513569 non-null  object
 7   to_station_id      1513569 non-null  int64
 8   to_station_name    1513569 non-null  object
 9   usertype           1513569 non-null  object
 10  gender             1513569 non-null  object
 11  birthyear          1513569 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 150.1+ MB

In [34]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642686 entries, 0 to 642685
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            642686 non-null  int64
 1   start_time         642686 non-null  object
 2   end_time           642686 non-null  object
 3   bikeid             642686 non-null  int64
 4   tripduration       642686 non-null  object
 5   from_station_id    642686 non-null  int64
 6   from_station_name  642686 non-null  object
 7   to_station_id      642686 non-null  int64
 8   to_station_name    642686 non-null  object
 9   usertype           642686 non-null  object
 10  gender             594304 non-null  object
 11  birthyear          596520 non-null  float64
dtypes: float64(1), int64(4), object(7)
memory usage: 58.8+ MB

In [35]:
df4.rename(columns = {'start_time':'starttime'}, inplace = True)
df4.rename(columns = {'end_time' : 'stoptime'}, inplace = True)

In [36]:
df4["starttime"] = pd.to_datetime(df4["starttime"])
df4["stoptime"] = pd.to_datetime(df4["stoptime"])

In [37]:
df4.loc[df4['gender'].isnull(), 'gender'] = 'Unknown'
df4.loc[df4['birthyear'].isnull(), 'birthyear'] = 0

In [38]:
df4['tripduration'] = df4['tripduration'].str.replace(',', '').astype(float)

In [39]:
df4['tripduration'] = df4['tripduration'].astype(int)

In [40]:
df4.loc[df4['starttime'].dt.year != 2018]

Empty DataFrame
Columns: [trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear]
Index: []

In [41]:
df4.loc[df4['stoptime'].dt.year != 2018]

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
204951,21221516,2018-10-18 06:40:06,2019-01-06 02:36:16,2607,6900970,303,Broadway & Cornelia Ave,390,Wentworth Ave & 63rd St,Customer,Unknown,0.0
638176,21736673,2018-12-28 18:18:52,2019-01-04 09:55:42,6025,574610,192,Canal St & Adams St,142,McClurg Ct & Erie St,Subscriber,Male,1989.0
639457,21738260,2018-12-29 15:09:01,2019-01-02 06:27:12,5883,314291,120,Wentworth Ave & Cermak Rd (Temp),62,McCormick Place,Customer,Unknown,0.0
641919,21741480,2018-12-31 12:18:49,2019-01-01 13:39:31,5107,91242,81,Daley Center Plaza,283,LaSalle St & Jackson Blvd,Subscriber,Male,1992.0
642067,21741665,2018-12-31 14:14:07,2019-01-01 20:31:32,5370,109045,56,Desplaines St & Kinzie St,186,Ogden Ave & Race Ave,Subscriber,Female,1986.0
642172,21741803,2018-12-31 15:21:04,2019-01-03 20:32:27,5035,277883,97,Field Museum,90,Millennium Park,Customer,Unknown,0.0
642673,21742430,2018-12-31 23:38:42,2019-01-01 00:19:07,3939,2425,177,Theater on the Lake,268,Lake Shore Dr & North Blvd,Subscriber,Male,1996.0
642675,21742432,2018-12-31 23:39:55,2019-01-01 00:18:21,6205,2306,150,Fort Dearborn Dr & 31st St,150,Fort Dearborn Dr & 31st St,Subscriber,Male,1995.0
642685,21742442,2018-12-31 23:59:18,2019-01-01 00:20:43,2006,1285,260,Kedzie Ave & Milwaukee Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0

In [42]:
df3.drop([204951, 638176, 639457, 641919, 642067, 642172, 642673, 642675, 642685], axis=0, inplace=True)

In [43]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642686 entries, 0 to 642685
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            642686 non-null  int64
 1   starttime          642686 non-null  datetime64[ns]
 2   stoptime           642686 non-null  datetime64[ns]
 3   bikeid             642686 non-null  int64
 4   tripduration       642686 non-null  int64
 5   from_station_id    642686 non-null  int64
 6   from_station_name  642686 non-null  object
 7   to_station_id      642686 non-null  int64
 8   to_station_name    642686 non-null  object
 9   usertype           642686 non-null  object
 10  gender             642686 non-null  object
 11  birthyear          642686 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 58.8+ MB

In [44]:
df_2018 = pd.concat([df1, df2, df3, df4])

In [ ]:
df_2018.to_csv('2018_Clean.csv', index=False)

* concat and result in 1 cleaned CSVs. Revert from variables back to cleaned CSV.