In [146]:
import pandas as pd
import numpy as np

In [147]:
df1 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2020/Divvy_Trips_2020_Q1.csv')
df2 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2020/202004-divvy-tripdata.csv')
df3 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2020/202005-divvy-tripdata.csv')
df4 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2020/202006-divvy-tripdata.csv')
df5 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2020/202007-divvy-tripdata.csv')
df6 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2020/202008-divvy-tripdata.csv')
df7 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2020/202009-divvy-tripdata.csv')
df8 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2020/202010-divvy-tripdata.csv')
df9 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2020/202011-divvy-tripdata.csv')
df10 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2020/202012-divvy-tripdata.csv')

In [148]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426887 entries, 0 to 426886
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             426887 non-null  object
 1   rideable_type       426887 non-null  object
 2   started_at          426887 non-null  object
 3   ended_at            426887 non-null  object
 4   start_station_name  426887 non-null  object
 5   start_station_id    426887 non-null  int64
 6   end_station_name    426886 non-null  object
 7   end_station_id      426886 non-null  float64
 8   start_lat           426887 non-null  float64
 9   start_lng           426887 non-null  float64
 10  end_lat             426886 non-null  float64
 11  end_lng             426886 non-null  float64
 12  member_casual       426887 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 42.3+ MB

In [149]:
df1.rename(columns = {'started_at':'starttime'}, inplace = True)
df1.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df1.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df1.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df1.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df1.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df1.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [150]:
df1["starttime"] = pd.to_datetime(df1["starttime"])
df1["stoptime"] = pd.to_datetime(df1["stoptime"])

In [151]:
df1['usertype'].value_counts()

member    378407
casual     48480
Name: usertype, dtype: int64

In [152]:
df1['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [153]:
df1.isnull().sum()

ride_id              0
rideable_type        0
starttime            0
stoptime             0
from_station_name    0
from_station_id      0
to_station_name      1
to_station_id        1
start_lat            0
start_lng            0
end_lat              1
end_lng              1
usertype             0
dtype: int64

In [154]:
df1 = df1.dropna()

In [155]:
df1['to_station_id'] = df1['to_station_id'].astype(int)

In [156]:
df1.loc[df1['starttime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [157]:
df1.loc[df1['stoptime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [158]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 426886 entries, 0 to 426886
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            426886 non-null  object
 1   rideable_type      426886 non-null  object
 2   starttime          426886 non-null  datetime64[ns]
 3   stoptime           426886 non-null  datetime64[ns]
 4   from_station_name  426886 non-null  object
 5   from_station_id    426886 non-null  int64
 6   to_station_name    426886 non-null  object
 7   to_station_id      426886 non-null  int64
 8   start_lat          426886 non-null  float64
 9   start_lng          426886 non-null  float64
 10  end_lat            426886 non-null  float64
 11  end_lng            426886 non-null  float64
 12  usertype           426886 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(5)
memory usage: 45.6+ MB

In [159]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84776 entries, 0 to 84775
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             84776 non-null  object
 1   rideable_type       84776 non-null  object
 2   started_at          84776 non-null  object
 3   ended_at            84776 non-null  object
 4   start_station_name  84776 non-null  object
 5   start_station_id    84776 non-null  int64
 6   end_station_name    84677 non-null  object
 7   end_station_id      84677 non-null  float64
 8   start_lat           84776 non-null  float64
 9   start_lng           84776 non-null  float64
 10  end_lat             84677 non-null  float64
 11  end_lng             84677 non-null  float64
 12  member_casual       84776 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 8.4+ MB

In [160]:
df2.rename(columns = {'started_at':'starttime'}, inplace = True)
df2.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df2.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df2.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df2.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df2.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df2.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [161]:
df2["starttime"] = pd.to_datetime(df2["starttime"])
df2["stoptime"] = pd.to_datetime(df2["stoptime"])

In [162]:
df2['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [163]:
df2 = df2.dropna()

In [164]:
df2['to_station_id'] = df2['to_station_id'].astype(int)

In [165]:
df2.loc[df2['starttime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [166]:
df2.loc[df2['stoptime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [167]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84677 entries, 0 to 84775
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ride_id            84677 non-null  object
 1   rideable_type      84677 non-null  object
 2   starttime          84677 non-null  datetime64[ns]
 3   stoptime           84677 non-null  datetime64[ns]
 4   from_station_name  84677 non-null  object
 5   from_station_id    84677 non-null  int64
 6   to_station_name    84677 non-null  object
 7   to_station_id      84677 non-null  int64
 8   start_lat          84677 non-null  float64
 9   start_lng          84677 non-null  float64
 10  end_lat            84677 non-null  float64
 11  end_lng            84677 non-null  float64
 12  usertype           84677 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(5)
memory usage: 9.0+ MB

In [168]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200274 entries, 0 to 200273
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             200274 non-null  object
 1   rideable_type       200274 non-null  object
 2   started_at          200274 non-null  object
 3   ended_at            200274 non-null  object
 4   start_station_name  200274 non-null  object
 5   start_station_id    200274 non-null  int64
 6   end_station_name    199953 non-null  object
 7   end_station_id      199953 non-null  float64
 8   start_lat           200274 non-null  float64
 9   start_lng           200274 non-null  float64
 10  end_lat             199953 non-null  float64
 11  end_lng             199953 non-null  float64
 12  member_casual       200274 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 19.9+ MB

In [169]:
df3.rename(columns = {'started_at':'starttime'}, inplace = True)
df3.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df3.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df3.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df3.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df3.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df3.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [170]:
df3["starttime"] = pd.to_datetime(df3["starttime"])
df3["stoptime"] = pd.to_datetime(df3["stoptime"])

In [171]:
df3['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [172]:
df3.isnull().sum().sum()

1284

In [173]:
df3.loc[df3['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df3.loc[df3['to_station_id'].isnull(), 'to_station_id'] = 0
df3.loc[df3['end_lat'].isnull(), 'end_lat'] = 0
df3.loc[df3['end_lng'].isnull(), 'end_lng'] = 0

In [174]:
df3['to_station_id'] = df3['to_station_id'].astype(int)

In [175]:
df3.loc[df3['starttime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [176]:
df3.loc[df3['stoptime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [177]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200274 entries, 0 to 200273
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200274 non-null  object
 1   rideable_type      200274 non-null  object
 2   starttime          200274 non-null  datetime64[ns]
 3   stoptime           200274 non-null  datetime64[ns]
 4   from_station_name  200274 non-null  object
 5   from_station_id    200274 non-null  int64
 6   to_station_name    200274 non-null  object
 7   to_station_id      200274 non-null  int64
 8   start_lat          200274 non-null  float64
 9   start_lng          200274 non-null  float64
 10  end_lat            200274 non-null  float64
 11  end_lng            200274 non-null  float64
 12  usertype           200274 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(5)
memory usage: 19.9+ MB

In [178]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343005 entries, 0 to 343004
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             343005 non-null  object
 1   rideable_type       343005 non-null  object
 2   started_at          343005 non-null  object
 3   ended_at            343005 non-null  object
 4   start_station_name  343005 non-null  object
 5   start_station_id    343005 non-null  int64
 6   end_station_name    342537 non-null  object
 7   end_station_id      342537 non-null  float64
 8   start_lat           343005 non-null  float64
 9   start_lng           343005 non-null  float64
 10  end_lat             342537 non-null  float64
 11  end_lng             342537 non-null  float64
 12  member_casual       343005 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 34.0+ MB

In [179]:
df4.rename(columns = {'started_at':'starttime'}, inplace = True)
df4.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df4.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df4.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df4.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df4.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df4.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [180]:
df4["starttime"] = pd.to_datetime(df4["starttime"])
df4["stoptime"] = pd.to_datetime(df4["stoptime"])

In [181]:
df4['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [182]:
df4.loc[df4['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df4.loc[df4['to_station_id'].isnull(), 'to_station_id'] = 0
df4.loc[df4['end_lat'].isnull(), 'end_lat'] = 0
df4.loc[df4['end_lng'].isnull(), 'end_lng'] = 0

In [183]:
df4['to_station_id'] = df4['to_station_id'].astype(int)

In [184]:
df4.loc[df4['starttime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [185]:
df4.loc[df4['stoptime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [186]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343005 entries, 0 to 343004
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            343005 non-null  object
 1   rideable_type      343005 non-null  object
 2   starttime          343005 non-null  datetime64[ns]
 3   stoptime           343005 non-null  datetime64[ns]
 4   from_station_name  343005 non-null  object
 5   from_station_id    343005 non-null  int64
 6   to_station_name    343005 non-null  object
 7   to_station_id      343005 non-null  int64
 8   start_lat          343005 non-null  float64
 9   start_lng          343005 non-null  float64
 10  end_lat            343005 non-null  float64
 11  end_lng            343005 non-null  float64
 12  usertype           343005 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(5)
memory usage: 34.0+ MB

In [187]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551480 entries, 0 to 551479
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             551480 non-null  object
 1   rideable_type       551480 non-null  object
 2   started_at          551480 non-null  object
 3   ended_at            551480 non-null  object
 4   start_station_name  551331 non-null  object
 5   start_station_id    551328 non-null  float64
 6   end_station_name    550513 non-null  object
 7   end_station_id      550511 non-null  float64
 8   start_lat           551480 non-null  float64
 9   start_lng           551480 non-null  float64
 10  end_lat             550710 non-null  float64
 11  end_lng             550710 non-null  float64
 12  member_casual       551480 non-null  object
dtypes: float64(6), object(7)
memory usage: 54.7+ MB

In [188]:
df5.rename(columns = {'started_at':'starttime'}, inplace = True)
df5.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df5.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df5.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df5.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df5.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df5.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [189]:
df5["starttime"] = pd.to_datetime(df5["starttime"])
df5["stoptime"] = pd.to_datetime(df5["stoptime"])

In [190]:
df5['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [191]:
df5.loc[df5['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df5.loc[df5['from_station_id'].isnull(), 'from_station_id'] = 0
df5.loc[df5['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df5.loc[df5['to_station_id'].isnull(), 'to_station_id'] = 0
df5.loc[df5['end_lat'].isnull(), 'end_lat'] = 0
df5.loc[df5['end_lng'].isnull(), 'end_lng'] = 0

In [192]:
df5['to_station_id'] = df5['to_station_id'].astype(int)
df5['from_station_id'] = df5['from_station_id'].astype(int)

In [193]:
df5.loc[df5['starttime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [194]:
df5.loc[df5['stoptime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [195]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551480 entries, 0 to 551479
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            551480 non-null  object
 1   rideable_type      551480 non-null  object
 2   starttime          551480 non-null  datetime64[ns]
 3   stoptime           551480 non-null  datetime64[ns]
 4   from_station_name  551480 non-null  object
 5   from_station_id    551480 non-null  int64
 6   to_station_name    551480 non-null  object
 7   to_station_id      551480 non-null  int64
 8   start_lat          551480 non-null  float64
 9   start_lng          551480 non-null  float64
 10  end_lat            551480 non-null  float64
 11  end_lng            551480 non-null  float64
 12  usertype           551480 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(5)
memory usage: 54.7+ MB

In [196]:
df6.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 622361 entries, 0 to 622360
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             622361 non-null  object
 1   rideable_type       622361 non-null  object
 2   started_at          622361 non-null  object
 3   ended_at            622361 non-null  object
 4   start_station_name  614766 non-null  object
 5   start_station_id    614670 non-null  float64
 6   end_station_name    612326 non-null  object
 7   end_station_id      612251 non-null  float64
 8   start_lat           622361 non-null  float64
 9   start_lng           622361 non-null  float64
 10  end_lat             621423 non-null  float64
 11  end_lng             621423 non-null  float64
 12  member_casual       622361 non-null  object
dtypes: float64(6), object(7)
memory usage: 61.7+ MB

In [197]:
df6.rename(columns = {'started_at':'starttime'}, inplace = True)
df6.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df6.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df6.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df6.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df6.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df6.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [198]:
df6["starttime"] = pd.to_datetime(df6["starttime"])
df6["stoptime"] = pd.to_datetime(df6["stoptime"])

In [199]:
df6['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [200]:
df6.loc[df6['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df6.loc[df6['from_station_id'].isnull(), 'from_station_id'] = 0
df6.loc[df6['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df6.loc[df6['to_station_id'].isnull(), 'to_station_id'] = 0
df6.loc[df6['end_lat'].isnull(), 'end_lat'] = 0
df6.loc[df6['end_lng'].isnull(), 'end_lng'] = 0

In [201]:
df6['to_station_id'] = df6['to_station_id'].astype(int)
df6['from_station_id'] = df6['from_station_id'].astype(int)

In [202]:
df6.loc[df6['starttime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [203]:
df6.loc[df6['stoptime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [204]:
df6.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 622361 entries, 0 to 622360
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            622361 non-null  object
 1   rideable_type      622361 non-null  object
 2   starttime          622361 non-null  datetime64[ns]
 3   stoptime           622361 non-null  datetime64[ns]
 4   from_station_name  622361 non-null  object
 5   from_station_id    622361 non-null  int64
 6   to_station_name    622361 non-null  object
 7   to_station_id      622361 non-null  int64
 8   start_lat          622361 non-null  float64
 9   start_lng          622361 non-null  float64
 10  end_lat            622361 non-null  float64
 11  end_lng            622361 non-null  float64
 12  usertype           622361 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(5)
memory usage: 61.7+ MB

In [205]:
df7.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532958 entries, 0 to 532957
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             532958 non-null  object
 1   rideable_type       532958 non-null  object
 2   started_at          532958 non-null  object
 3   ended_at            532958 non-null  object
 4   start_station_name  513267 non-null  object
 5   start_station_id    513057 non-null  float64
 6   end_station_name    509585 non-null  object
 7   end_station_id      509434 non-null  float64
 8   start_lat           532958 non-null  float64
 9   start_lng           532958 non-null  float64
 10  end_lat             532169 non-null  float64
 11  end_lng             532169 non-null  float64
 12  member_casual       532958 non-null  object
dtypes: float64(6), object(7)
memory usage: 52.9+ MB

In [206]:
df7.rename(columns = {'started_at':'starttime'}, inplace = True)
df7.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df7.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df7.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df7.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df7.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df7.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [207]:
df7["starttime"] = pd.to_datetime(df7["starttime"])
df7["stoptime"] = pd.to_datetime(df7["stoptime"])

In [208]:
df7['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [209]:
df7.loc[df7['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df7.loc[df7['from_station_id'].isnull(), 'from_station_id'] = 0
df7.loc[df7['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df7.loc[df7['to_station_id'].isnull(), 'to_station_id'] = 0
df7.loc[df7['end_lat'].isnull(), 'end_lat'] = 0
df7.loc[df7['end_lng'].isnull(), 'end_lng'] = 0

In [210]:
df7['to_station_id'] = df7['to_station_id'].astype(int)
df7['from_station_id'] = df7['from_station_id'].astype(int)

In [211]:
df7.loc[df7['starttime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [212]:
df7.loc[df7['stoptime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [213]:
df7.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532958 entries, 0 to 532957
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            532958 non-null  object
 1   rideable_type      532958 non-null  object
 2   starttime          532958 non-null  datetime64[ns]
 3   stoptime           532958 non-null  datetime64[ns]
 4   from_station_name  532958 non-null  object
 5   from_station_id    532958 non-null  int64
 6   to_station_name    532958 non-null  object
 7   to_station_id      532958 non-null  int64
 8   start_lat          532958 non-null  float64
 9   start_lng          532958 non-null  float64
 10  end_lat            532958 non-null  float64
 11  end_lng            532958 non-null  float64
 12  usertype           532958 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(5)
memory usage: 52.9+ MB

In [214]:
df8.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388653 entries, 0 to 388652
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             388653 non-null  object
 1   rideable_type       388653 non-null  object
 2   started_at          388653 non-null  object
 3   ended_at            388653 non-null  object
 4   start_station_name  357455 non-null  object
 5   start_station_id    357248 non-null  float64
 6   end_station_name    353022 non-null  object
 7   end_station_id      352866 non-null  float64
 8   start_lat           388653 non-null  float64
 9   start_lng           388653 non-null  float64
 10  end_lat             388179 non-null  float64
 11  end_lng             388179 non-null  float64
 12  member_casual       388653 non-null  object
dtypes: float64(6), object(7)
memory usage: 38.5+ MB

In [215]:
df8.rename(columns = {'started_at':'starttime'}, inplace = True)
df8.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df8.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df8.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df8.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df8.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df8.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [216]:
df8["starttime"] = pd.to_datetime(df8["starttime"])
df8["stoptime"] = pd.to_datetime(df8["stoptime"])

In [217]:
df8['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [218]:
df8.loc[df8['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df8.loc[df8['from_station_id'].isnull(), 'from_station_id'] = 0
df8.loc[df8['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df8.loc[df8['to_station_id'].isnull(), 'to_station_id'] = 0
df8.loc[df8['end_lat'].isnull(), 'end_lat'] = 0
df8.loc[df8['end_lng'].isnull(), 'end_lng'] = 0

In [219]:
df8['to_station_id'] = df8['to_station_id'].astype(int)
df8['from_station_id'] = df8['from_station_id'].astype(int)

In [220]:
df8.loc[df8['starttime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [221]:
df8.loc[df8['stoptime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [222]:
df8.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388653 entries, 0 to 388652
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            388653 non-null  object
 1   rideable_type      388653 non-null  object
 2   starttime          388653 non-null  datetime64[ns]
 3   stoptime           388653 non-null  datetime64[ns]
 4   from_station_name  388653 non-null  object
 5   from_station_id    388653 non-null  int64
 6   to_station_name    388653 non-null  object
 7   to_station_id      388653 non-null  int64
 8   start_lat          388653 non-null  float64
 9   start_lng          388653 non-null  float64
 10  end_lat            388653 non-null  float64
 11  end_lng            388653 non-null  float64
 12  usertype           388653 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(5)
memory usage: 38.5+ MB

In [223]:
df9.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259716 entries, 0 to 259715
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             259716 non-null  object
 1   rideable_type       259716 non-null  object
 2   started_at          259716 non-null  object
 3   ended_at            259716 non-null  object
 4   start_station_name  235392 non-null  object
 5   start_station_id    235282 non-null  float64
 6   end_station_name    232967 non-null  object
 7   end_station_id      232890 non-null  float64
 8   start_lat           259716 non-null  float64
 9   start_lng           259716 non-null  float64
 10  end_lat             259432 non-null  float64
 11  end_lng             259432 non-null  float64
 12  member_casual       259716 non-null  object
dtypes: float64(6), object(7)
memory usage: 25.8+ MB

In [224]:
df9.rename(columns = {'started_at':'starttime'}, inplace = True)
df9.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df9.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df9.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df9.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df9.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df9.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [225]:
df9["starttime"] = pd.to_datetime(df9["starttime"])
df9["stoptime"] = pd.to_datetime(df9["stoptime"])

In [226]:
df9['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [227]:
df9.loc[df9['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df9.loc[df9['from_station_id'].isnull(), 'from_station_id'] = 0
df9.loc[df9['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df9.loc[df9['to_station_id'].isnull(), 'to_station_id'] = 0
df9.loc[df9['end_lat'].isnull(), 'end_lat'] = 0
df9.loc[df9['end_lng'].isnull(), 'end_lng'] = 0

In [228]:
df9['to_station_id'] = df9['to_station_id'].astype(int)
df9['from_station_id'] = df9['from_station_id'].astype(int)

In [229]:
df9.loc[df9['starttime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [230]:
df9.loc[df9['stoptime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [231]:
df9.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259716 entries, 0 to 259715
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            259716 non-null  object
 1   rideable_type      259716 non-null  object
 2   starttime          259716 non-null  datetime64[ns]
 3   stoptime           259716 non-null  datetime64[ns]
 4   from_station_name  259716 non-null  object
 5   from_station_id    259716 non-null  int64
 6   to_station_name    259716 non-null  object
 7   to_station_id      259716 non-null  int64
 8   start_lat          259716 non-null  float64
 9   start_lng          259716 non-null  float64
 10  end_lat            259716 non-null  float64
 11  end_lng            259716 non-null  float64
 12  usertype           259716 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(5)
memory usage: 25.8+ MB

In [232]:
df10.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131573 entries, 0 to 131572
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             131573 non-null  object
 1   rideable_type       131573 non-null  object
 2   started_at          131573 non-null  object
 3   ended_at            131573 non-null  object
 4   start_station_name  119874 non-null  object
 5   start_station_id    119874 non-null  object
 6   end_station_name    118336 non-null  object
 7   end_station_id      118336 non-null  object
 8   start_lat           131573 non-null  float64
 9   start_lng           131573 non-null  float64
 10  end_lat             131462 non-null  float64
 11  end_lng             131462 non-null  float64
 12  member_casual       131573 non-null  object
dtypes: float64(4), object(9)
memory usage: 13.0+ MB

In [233]:
df10.rename(columns = {'started_at':'starttime'}, inplace = True)
df10.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df10.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df10.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df10.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df10.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df10.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [234]:
df10["starttime"] = pd.to_datetime(df10["starttime"])
df10["stoptime"] = pd.to_datetime(df10["stoptime"])

In [235]:
df10['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [236]:
df10.loc[df10['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df10.loc[df10['from_station_id'].isnull(), 'from_station_id'] = 0
df10.loc[df10['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df10.loc[df10['to_station_id'].isnull(), 'to_station_id'] = 0
df10.loc[df10['end_lat'].isnull(), 'end_lat'] = 0
df10.loc[df10['end_lng'].isnull(), 'end_lng'] = 0

In [237]:
df10['from_station_id'].unique()

array(['13157', 0, 'TA1309000006', 'KA1503000043', 'TA1309000014',
       'TA1305000006', '13042', '604', 'TA1307000127', 'TA1306000003',
       'TA1306000006', 'TA1306000011', 'SL-013', '13124', '13137',
       '13074', 'TA1309000066', 'TA1307000138', 'TA1307000052', '660',
       'TA1309000059', '13268', 'KA1503000002', 'TA1307000140', '639',
       '13294', 'TA1307000062', '15655', 'TA1307000064', 'TA1306000010',
       '13058', '13179', 'KA1504000076', '13431', 'KA1503000070', '13197',
       '13006', 'KA1503000040', 'TA1307000129', 'TA1307000159', '13326',
       'SL-009', 'TA1307000120', '13332', 'TA1305000011', 'TA1307000070',
       'TA1305000030', 'TA1309000008', '15545', '13162', 'TA1307000039',
       '13164', 'KA1504000104', '13353', '13022', '13036', '13139',
       'KA1503000064', '16920', '13243', '13017', 'TA1305000001', '13028',
       'TA1307000121', 'TA1307000130', 'SL-005', '13165', 'TA1308000019',
       'KA1503000041', 'TA1305000009', 'KA1503000072', 'TA1309000004',
       'TA1309000035', 'KA1504000129', 'TA1306000007', 'TA1309000043',
       'KA1503000034', 'KA1504000140', 'TA1307000126', 'KA1503000012',
       'TA1307000166', 'TA1305000041', 'TA1309000019', '15628',
       'TA1308000049', 'TA1305000035', 'KA1504000116', '573', '13224',
       'KA1504000149', 'TA1307000156', '13276', 'TA1306000032', '13136',
       '15664', '15529', '13134', 'TA1307000041', 'KA1503000022',
       'KA1504000096', 'TA1308000005', '13409', '13229', '13109', '15578',
       '657', '17660', 'TA1309000018', 'KA1504000103', '644',
       'KA1504000106', 'TA1309000007', 'TA1309000001', '13389', '13253',
       '20252.0', '13292', 'KA1504000159', '20110', '595', 'KA1504000164',
       '15491', '13245', '15546', 'TA1307000128', 'TA1309000037', '13258',
       'RP-004', '13156', 'TA1305000022', 'TA1307000005', '13263',
       '20116', '15640', 'TA1309000049', 'TA1309000039', '20207',
       'TA1308000002', '13277', '13241', 'TA1305000010', 'KA1504000135',
       '637', '636', '523', '18016', '13303', 'KA1504000082',
       'KA1503000047', 'KA1503000033', '583', 'KA1504000148', '527',
       '13133', 'TA1309000011', '520', '15692', '15645', 'TA1309000055',
       '16940', '20238', '20120', 'TA1307000163', '13071', '13213', '545',
       '530', '20205', '16903', '20109', 'TA1307000161', '593', '20236',
       '560', '15682', '575', '535', 'KA1503000013', 'KA1503000018',
       'SL-011', 'TA1308000050', 'TA1307000131', '13296', '13073',
       'TA1308000021', '13146', 'TA1305000029', 'TA1305000014', '13323',
       'TA1305000005', '599', '13269', 'TA1309000029', '13008', '576',
       'TA1309000063', '15691', 'KA1503000053', '518', '13206',
       'TA1305000037', 'KA1503000038', '13290', '16943', '15631', '20231',
       '543', '653', 'KA1504000161', 'TA1308000038', '15470', '13091',
       '15644', '514', '605', '20233', 'KA1503000054', 'TA1307000119',
       '20227', '13341', 'TA1308000001', 'TA1309000061', '18069',
       'KA1504000093', '15535', 'TA1305000039', 'TA1307000111', '620',
       'TA1308000029', 'KA1503000020', '534', 'KA1503000075', '596',
       '587', 'KA1504000167', '18062', '15623', '623', 'KA1503000044',
       '15634', '20221', 'KA1504000168', '15654', '20222', '13053',
       '15534', '16950', '651', '536',
       'Hubbard Bike-checking (LBS-WH-TEST)', 'KA1706005015', '18022',
       'TA1309000053', 'KA1706005007', '15550', '15632', '13056', '15689',
       '13247', 'TA1306000008', 'KA1504000141', 'KA1503000068',
       'KA1503000052', '585', '15667', 'KA1504000156', '15575', '15446',
       '540', '20226', 'E007', 'KA1503000045', 'E002', 'KA1503000003',
       '13307', '632', '15442', '549', '13045', '577', 'TA1307000001',
       '13379', '638', '15642', '15539', 'TA1308000036', '15530',
       'TA1305000025', 'TA1309000002', 'KA1504000142', 'TA1308000026',
       '16937', 'E008', '15449', '20229', '16913', '15622',
       'KA1504000151', 'KA1504000113', '15646', 'TA1308000014',
       'TA1309000021', 'TA1308000007', '13345', '546', '13331',
       'TA1308000013', '16806', '559', '594', '554', 'KA1504000134',
       '15666', 'KA1504000109', 'TA1309000003', '661', 'TA1309000025',
       'TA1307000158', '15615', '643', 'TA1309000032', 'KA1504000091',
       '13191', '20105', '16010', 'TA1305000004', '600', '646', 'E011',
       'KA150400009X', 'KA1504000097', '13285', 'TA1308000006',
       'KA1504000155', '574', 'KA1504000130', 'LF-005', '13300',
       'KA1504000152', '13193', '13029', 'KA1503000059', '20242',
       'KA1503000028', 'TA1308000045', 'TA1309000030', 'KA1503000065',
       'KA1504000086', '20244', 'KA1503000025', '517', 'TA1308000035',
       '13061', 'TA1309000041', '13143', 'KA1504000175', 'TA1307000149',
       'RN-', '537', '13216', 'TA1306000002', 'KA1504000090', '13256',
       'TA1307000160', 'WL-008', '13288', 'KA1504000147', 'KA1503000021',
       'KA1503000023', 'KA1503000049', '13196', '15445', '13221',
       'KA17018068', '15621', '13398', 'TA1307000107', '13128',
       'TA1307000048', 'TA1309000010', '13084', '515', 'TA1306000009',
       'SL-006', 'KA1504000102', 'TA1305000017', 'KA1504000078', '18025',
       'KA1504000110', '16991', 'RP-005', '16994', 'E014', 'KA1503000007',
       'TA1308000009', 'TA1309000026', '13257', '15686', '13021',
       'KA1503000001', '13235', '20246.0', 'TA1306000026', 'KA1503000019',
       '13434', 'TA1307000139', '13194', '20104', 'KA1503000031', '567',
       '13108', '13430', '570', '650', 'KA1503000011', '553',
       'KA1503000030', '18003', 'KP1705001026', 'KA1504000146', '13016',
       'KA1504000079', '13001', 'TA1306000013', 'TA1306000025', '13034',
       '13427', 'TA1307000115', 'KA1504000101', 'TA1309000064',
       'TA1309000027', 'TA1309000036', '13063', '15542', 'TA1308000012',
       'TA1306000015', 'WL-011', 'KA1503000029', 'KA1503000074', '13192',
       '13289', 'TA1307000136', 'TA1307000143', '13249', '13432',
       'TA1307000142', 'TA1306000014', '13319', 'KA1504000133', '13068',
       '15571', 'TA1307000150', 'KA1503000015', '13150', '13135', '13158',
       '13265', 'TA1307000151', '13278', '13099', '13037', '13075',
       'TA1309000023', 'TA1305000003', 'TA1309000024', '13138', '13160',
       'TA1309000015', 'TA1307000144', 'TA1307000006', 'TA1308000031',
       'TA1305000020', '658', 'KA1504000127', 'TA1308000047', 'RP-009',
       '655', 'RP-002', '13325', '525', 'TA1307000134', 'TA1309000050',
       'TA1306000012', 'TA1309000012', 'LP-', 'KA1504000158',
       'KA1504000080', 'TA1306000016', 'TA1307000038', '18067', '13085',
       '590', '13242', 'RP-001', 'SL-010', '15585', 'KA1504000114',
       '13155', 'WL-012', '18058', 'SL-007', '13266', 'KA1504000143',
       '13089', 'KA1503000066', '624', '13081', '631', 'TA1308000043',
       'KA1504000160', '519', 'KA1503000046', '557', '662', '561',
       'KA1503000051', 'KA17018054', '20119', '16906', 'TA1307000124',
       '13304', '20243', 'TA1309000042', '598', '20234', '20254.0',
       '18017', 'KA1503000073', 'KA1503000027', '13080', 'KA1504000128',
       '13033', '13259', 'KA1504000117', '16933', '16948', '564', '16912',
       'KA1503000069', '15651', 'TA1309000058', '20239', 'TA1308000023',
       '15687', '15597', 'KA1503000055', 'TA1307000066', 'KA1503000071',
       'RP-006', '15544', '16921', '13154', 'KA1503000032', '13354',
       'KA1503000004', '13050', '20232', '20206', '579', '16932', '13338',
       'KA1503000010', '20121', '20107', '20210', 'KA1503000009', '13420',
       '13011', '15648', '16953', '13083', '647', '13102', '16905', '642',
       '13144', 'RP-008', 'SL-008', '15685', '331', '580', '588', '654',
       '20127', '20223', 'TA1307000113', '13217', 'TA1307000117',
       'KA1504000139', 'TA1307000153', '20108', 'TA1305000032',
       'TA1305000002', '13132', 'KA1503000024', '571', '20235', '20131',
       '572', '15541', '15443', 'KA1504000126', '20218', 'RP-007',
       'KA1503000005', 'TA1308000046', '15652', '15668', 'SL-012',
       '15624', 'E006', 'TA1309000067', '20230', 'TA1309000051', '582',
       'TA1305000034', 'TA1307000061', '16918', '20118', '20129',
       'TA1307000044', '13215', 'KA1504000171', '13059', '13271',
       'TA1308000022', 'TA1309000033', 'TA1307000164', '15653', '15643',
       '528', 'TA1306000029', '13163', 'KA1503000014', '13248', '15650',
       '13096', 'KA1504000162', '20103', '16907', '584', '592', '20203'],
      dtype=object)

In [238]:
df10['to_station_id'].unique()

array(['TA1306000003', 0, 'TA1305000006', 'TA1306000011', 'TA1309000014',
       'KA1503000043', 'TA1309000006', '604', '13042', 'TA1307000127',
       '13157', 'TA1306000006', 'TA1305000011', 'KA1503000041', '632',
       'TA1307000140', '13197', 'TA1309000049', 'TA1307000039', '13294',
       'TA1309000039', 'TA1309000043', 'TA1306000032', 'TA1307000156',
       '13409', '13137', 'TA1307000166', '523', '15575', 'TA1307000052',
       '20242', '527', '15578', '13109', 'TA1309000037', '520', '15646',
       'KA1504000151', 'KA1504000129', '13022', '13229', 'KA1503000064',
       'TA1309000019', 'TA1307000041', 'TA1305000041', 'TA1305000039',
       'KA1503000022', '13276', 'TA1309000004', 'TA1305000014', '13269',
       'TA1308000019', 'TA1309000055', '17660', '13071', 'TA1307000163',
       'KA1504000148', '13389', 'TA1308000050', 'TA1305000001',
       'TA1307000121', '13028', 'TA1307000130', '16915', '13263',
       'TA1309000035', '13058', 'KA1504000080', '15442', '13331', '15642',
       '638', '15539', 'TA1305000029', 'TA1307000001', '13001',
       'KA1504000155', 'TA1307000158', '13253', '13133', '576', 'SL-005',
       '637', 'KA1503000053', '15645', '13165', '15691', 'TA1308000002',
       '18022', '583', '15529', '13292', 'TA1307000159', '15545', '595',
       '15655', '13277', 'KA1504000104', '13136', '13139', 'TA1306000007',
       '13134', 'KA1504000149', 'KA1503000072', '13162', 'KA1504000116',
       '20207', '15664', '20205', '13278', 'TA1309000024', '13158',
       '13265', 'TA1308000047', 'TA1307000151', '655', 'KA1504000156',
       'KA1503000052', '15550', 'TA1309000066', '660', '13074',
       'TA1307000138', '573', 'TA1308000021', '13243', '13017', '15546',
       'KA1504000103', '644', 'KA1504000106', '650', '15692',
       'KA1504000130', 'TA1308000036', '549', 'TA1307000126', '13036',
       '20236', 'RP-004', '16920', '20120', 'KA1503000033', '13146',
       '15624', 'TA1305000030', 'TA1307000120', '639', 'TA1307000070',
       'TA1306000010', 'TA1305000035', 'SL-013', 'KA1504000140', '15682',
       '13245', 'KA1503000034', '15535', '13053', 'TA1307000111', '13341',
       '15470', 'TA1307000062', '13164', '15491', '13353', '20110',
       'TA1307000119', 'TA1309000063', 'E007',
       'Hubbard Bike-checking (LBS-WH-TEST)', '20246.0', 'TA1307000124',
       'TA1306000016', 'KA1504000135', 'TA1305000010', '13241',
       'TA1305000022', 'TA1307000128', 'TA1309000029', '657', '13258',
       '642', '16905', 'TA1307000115', '13160', '13213', '20252.0',
       'TA1307000064', '13179', 'TA1308000005', '13332', 'TA1309000008',
       'KA1504000096', '530', '20231', '636', 'TA1309000001',
       'TA1309000007', 'KA1504000142', '16940', '13398', 'TA1307000107',
       '13128', '13156', '514', '20116', 'TA1308000001', '15446',
       'KA1503000038', '596', '13290', '16916', '599', '13124',
       'TA1308000049', '15628', 'KA1503000018', '20109', 'TA1307000161',
       '20233', 'SL-012', 'LF-005', 'TA1308000035', '20227',
       'KA1504000093', 'TA1309000061', 'TA1308000029', '620',
       'KA1503000020', '534', '18069', '16903', 'KA1503000075', '605',
       '13206', '15667', '585', '13303', '20238', '13091', '20222',
       'KA1504000167', '15654', 'TA1307000129', '13006', 'KA1503000070',
       'KA1504000076', '16943', '15634', '15623', '13008', 'TA1309000011',
       'TA1309000018', 'KA1503000068', 'KA1503000045', 'KA1503000054',
       'TA1307000131', '577', '20244', '13296', '587', '15631', '13073',
       '536', '20247.0', '518', 'SL-011', '15644', 'TA1307000005',
       'KA1504000161', '15534', '15689', '18062', 'KA1706005007', '13247',
       '13056', '15632', '571', '623', 'KA1503000044', 'KA1504000141',
       '540', '20226', 'TA1307000144', '13319', '13326', 'KA1503000004',
       '13338', '15648', 'KA1503000028', '15651', 'TA1309000058', '13011',
       '13050', '13307', '594', '546', '600', 'TA1308000007', '20235',
       '20251.0', 'TA1306000008', 'E002', '13379', '13135', '16906',
       '15599', 'KA1503000012', 'KA1503000047', 'TA1309000021',
       'TA1309000002', '13016', 'KA1504000079', 'TA1307000006', '13045',
       'E008', '16970', '15622', 'KA1504000113', '15449', '16937',
       '16913', 'TA1308000026', 'KA1503000010', '18016', '15530', '16806',
       'TA1308000013', 'TA1308000014', 'TA1305000025', '13345', '559',
       'KA1503000025', '20229', '554', 'KA1504000134', 'KA1504000097',
       '13191', 'KA1504000109', 'TA1305000004', '16010', '15666',
       'TA1309000053', 'TA1308000006', 'TA1309000032', 'TA1309000003',
       '517', 'KA1504000091', '643', 'TA1309000025', 'KA1503000019',
       '661', '20234', 'KA1504000175', '13143', '13196', 'TA1309000041',
       '13061', '16991', '20104', 'KA1503000021', '13021', 'TA1308000009',
       '13434', '13257', '13285', 'KA150400009X', '15615', '646', 'E011',
       'KA1504000152', 'TA1308000045', 'TA1309000030', '13300',
       'KA1503000023', '16994', 'TA1305000009', 'KA1503000002', 'SL-009',
       '13224', '535', 'KA1503000014', 'KA1504000090', 'TA1306000029',
       '13096', '13163', '13248', 'KA1504000162', '592', '584',
       'TA1307000149', 'RN-', '13029', 'TA1306000002', '13256',
       'KA1503000059', '13193', '13216', '13080', '537', '13268',
       'KA1504000146', 'TA1306000013', 'TA1308000043', 'TA1309000059',
       '13431', 'KA1504000159', 'KA1503000040', 'KA1504000164', '545',
       'TA1307000160', '572', 'KA1504000147', '13288', 'WL-008', 'RP-005',
       '15621', '15445', '20254.0', 'SL-007', '662', 'TA1306000025',
       'KA1503000049', 'TA1306000009', 'KA1503000065', 'LP-', '13304',
       'TA1309000012', 'KA1504000158', '13084', 'KA1504000078', '13221',
       'KA17018068', 'SL-006', 'KA1504000102', 'TA1305000017',
       'TA1309000026', '515', 'TA1307000048', 'E014', 'TA1309000010',
       'KA1504000110', 'KA1503000007', '13194', '15686', '13063',
       'TA1309000036', '13235', 'TA1307000139', 'TA1306000026',
       'KA1503000031', '15687', 'KA1503000027', '20206', 'KA1706005015',
       '16950', '15652', '15597', '15650', '18017', '570', '13108',
       '13430', '13034', 'TA1309000015', '13242', '13323', '13259',
       '13192', 'TA1308000012', 'TA1306000015', 'KA1503000024',
       'KA1503000074', 'WL-011', 'KA1503000055', 'KA1503000029', '567',
       '15571', '13150', 'KA1503000011', '13132', '15585', '13325',
       'WL-012', 'RP-002', 'TA1307000142', 'TA1306000014', '13249',
       'TA1307000150', 'TA1307000136', 'TA1309000027', 'TA1309000067',
       'E006', '16918', 'TA1309000042', '13154', '13033', '20243', '580',
       'TA1309000050', 'KA1503000005', '13217', 'TA1307000113', '331',
       'RP-008', 'SL-008', '654', 'TA1307000153', 'KA1504000139',
       'KA1504000117', '525', '20127', 'KA1503000046', '631', '13138',
       'KA1504000160', 'KA1504000143', '18067', 'KA1503000030', '564',
       'KA1503000051', '543', 'KA1504000101', '598', 'TA1307000134',
       'TA1306000012', 'KA1504000114', 'TA1308000023', '18058',
       'KA1503000009', '13427', 'KA1503000073', 'TA1308000031',
       'TA1305000020', '13089', '590', '519', 'KA1503000066', '20239',
       'KA1504000168', '16921', 'TA1307000038', '15544', 'RP-006',
       'KA1503000071', '18025', '15640', '658', '624', 'KA1504000127',
       '586', '20119', '557', '20232', '561', '575', 'KA1503000013',
       '553', 'TA1305000002', 'TA1307000117', 'KA1504000126', '15541',
       '15668', '16933', '15685', '15542', 'KA1503000069', '16948',
       '20121', '13266', '20113', 'KA1504000133', '13068', 'KA1504000128',
       'KA1503000015', '20107', '20210', '649', '16953', 'SL-010',
       '13432', '13083', '647', '13085', 'KA17018054', 'RP-001', '593',
       '13102', '13144', '13155', 'TA1307000066', 'TA1309000064', '13081',
       'KA1503000032', '13289', 'TA1307000143', '579', '13354', '13420',
       '652', '560', '556', 'TA1305000032', 'TA1305000005',
       'TA1305000037', 'TA1308000038', 'KA1503000003', '15443', '20218',
       '13075', 'TA1305000003', 'RP-009', 'TA1309000023', '13099',
       '13037', '16932', '18003', 'KP1705001026', '653', 'TA1309000051',
       'TA1308000046', '20103', 'RP-007', '20223', '20230', '582',
       'TA1307000061', 'TA1305000034', 'KA1504000086', 'TA1307000164',
       '13271', '13059', '15643', 'TA1308000022', 'KA1504000171',
       'TA1309000033', '13215', '15653', 'TA1307000044', '528', '16907',
       '20213'], dtype=object)

In [239]:
df10.loc[df10['starttime'].dt.year != 2020]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [240]:
df10.loc[df10['stoptime'].dt.year != 2020]

,ride_id,rideable_type,starttime,stoptime,from_station_name,from_station_id,to_station_name,to_station_id,start_lat,start_lng,end_lat,end_lng,usertype
20788,156C48F51D1D6946,docked_bike,2020-12-27 14:33:12,2021-01-03 08:54:11,Kingsbury St & Kinzie St,KA1503000043,Stetson Ave & South Water St,TA1308000029,41.889177,-87.638506,41.886835,-87.622320,Customer
22990,51A988D6F5627000,classic_bike,2020-12-31 23:58:21,2021-01-01 00:06:33,Clark St & Wrightwood Ave,TA1305000014,Lakeview Ave & Fullerton Pkwy,TA1309000019,41.929546,-87.643118,41.925858,-87.638973,Subscriber
29997,E5B488CCEBCC1E55,classic_bike,2020-12-31 23:38:09,2021-01-01 01:00:11,Ellis Ave & 53rd St,KA1503000052,Ellis Ave & 53rd St,KA1503000052,41.799336,-87.600958,41.799336,-87.600958,Subscriber
30026,D22FE17A8E72AD97,classic_bike,2020-12-31 23:38:01,2021-01-01 01:00:14,Ellis Ave & 53rd St,KA1503000052,Ellis Ave & 53rd St,KA1503000052,41.799336,-87.600958,41.799336,-87.600958,Subscriber
36765,5BFD765E1AA1C8DF,docked_bike,2020-12-31 23:43:28,2021-01-01 05:56:30,Broadway & Sheridan Rd,13323,Wood St & Taylor St (Temp),13285,41.952833,-87.649993,41.869265,-87.673731,Customer
39997,E8C2C87AA8F1B32C,docked_bike,2020-12-31 13:38:59,2021-01-02 15:04:25,Michigan Ave & 8th St,623,Millennium Park,13008,41.872773,-87.623981,41.881032,-87.624084,Customer
50520,3AC62C69F2194654,classic_bike,2020-12-31 23:53:49,2021-01-01 00:11:42,Lakefront Trail & Bryn Mawr Ave,KA1504000152,Montrose Harbor,TA1308000012,41.984037,-87.652310,41.963982,-87.638181,Customer
50522,499B286D832148C8,classic_bike,2020-12-31 23:53:54,2021-01-01 00:11:41,Lakefront Trail & Bryn Mawr Ave,KA1504000152,Montrose Harbor,TA1308000012,41.984037,-87.652310,41.963982,-87.638181,Subscriber
69304,C033F58BD41DBD84,docked_bike,2020-12-31 23:35:17,2021-01-01 00:38:51,State St & Van Buren St,TA1305000035,Dearborn St & Van Buren St,624,41.877181,-87.627844,41.876268,-87.629155,Customer
69308,D7E4A303661822D6,classic_bike,2020-12-31 23:36:00,2021-01-01 00:38:55,State St & Van Buren St,TA1305000035,Dearborn St & Van Buren St,624,41.877181,-87.627844,41.876268,-87.629155,Customer
71187,EB9A0F2419C8C1D7,docked_bike,2020-12-31 21:20:10,2021-01-01 06:39:04,Michigan Ave & Ida B Wells Dr,TA1305000010,Clark St & Ida B Wells Dr,TA1305000009,41.876243,-87.624426,41.875933,-87.630585,Customer
71755,E68968968CAD43B4,docked_bike,2020-12-31 19:42:45,2021-01-02 22:03:22,Blue Island Ave & 18th St,13135,Blue Island Ave & 18th St,13135,41.857556,-87.661535,41.857556,-87.661535,Customer
90312,2E9C38899710A708,classic_bike,2020-12-31 23:59:59,2021-01-01 00:03:32,State St & 33rd St,13216,Calumet Ave & 33rd St,13217,41.834734,-87.625813,41.834900,-87.617930,Subscriber
97294,C847D44CAD979072,docked_bike,2020-12-27 14:39:01,2021-01-02 13:01:10,2112 W Peterson Ave,KA1504000155,Warren Park East,RP-002,41.991178,-87.683593,42.004550,-87.680666,Customer
105844,F76CEE3F8C6A6EE3,classic_bike,2020-12-31 13:10:22,2021-01-01 09:40:13,State St & Van Buren St,TA1305000035,Wabash Ave & Roosevelt Rd,TA1305000002,41.877181,-87.627844,41.867227,-87.625961,Customer
109407,03291D925EEA3A0A,classic_bike,2020-12-31 23:56:14,2021-01-01 00:18:18,Shore Dr & 55th St,TA1308000009,Shore Dr & 55th St,TA1308000009,41.795212,-87.580715,41.795212,-87.580715,Subscriber
109440,90A6CDA61B711C40,classic_bike,2020-12-31 23:55:51,2021-01-01 00:17:59,Shore Dr & 55th St,TA1308000009,Shore Dr & 55th St,TA1308000009,41.795212,-87.580715,41.795212,-87.580715,Subscriber

In [241]:
df10.drop([20788, 22990, 29997, 30026, 36765, 39997, 50520, 50522, 69304, 69308, 71187, 71755, 90312, 97294, 105844, 109407, 109440], axis=0, inplace=True)

In [242]:
df10.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131556 entries, 0 to 131572
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            131556 non-null  object
 1   rideable_type      131556 non-null  object
 2   starttime          131556 non-null  datetime64[ns]
 3   stoptime           131556 non-null  datetime64[ns]
 4   from_station_name  131556 non-null  object
 5   from_station_id    131556 non-null  object
 6   to_station_name    131556 non-null  object
 7   to_station_id      131556 non-null  object
 8   start_lat          131556 non-null  float64
 9   start_lng          131556 non-null  float64
 10  end_lat            131556 non-null  float64
 11  end_lng            131556 non-null  float64
 12  usertype           131556 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 14.1+ MB

* concat and result in 1 cleaned CSVs. Revert from variables back to cleaned CSV.