In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2021/202101-divvy-tripdata.csv')
df2 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2021/202102-divvy-tripdata.csv')
df3 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2021/202103-divvy-tripdata.csv')
df4 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2021/202104-divvy-tripdata.csv')
df5 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2021/202105-divvy-tripdata.csv')
df6 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2021/202106-divvy-tripdata.csv')
df7 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2021/202107-divvy-tripdata.csv')
df8 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2021/202108-divvy-tripdata.csv')
df9 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2021/202109-divvy-tripdata.csv')
df10 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2021/202110-divvy-tripdata.csv')
df11 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2021/202111-divvy-tripdata.csv')
df12 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2021/202112-divvy-tripdata.csv')

In [14]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96834 entries, 0 to 96833
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             96834 non-null  object
 1   rideable_type       96834 non-null  object
 2   started_at          96834 non-null  object
 3   ended_at            96834 non-null  object
 4   start_station_name  88209 non-null  object
 5   start_station_id    88209 non-null  object
 6   end_station_name    86557 non-null  object
 7   end_station_id      86557 non-null  object
 8   start_lat           96834 non-null  float64
 9   start_lng           96834 non-null  float64
 10  end_lat             96731 non-null  float64
 11  end_lng             96731 non-null  float64
 12  member_casual       96834 non-null  object
dtypes: float64(4), object(9)
memory usage: 9.6+ MB

In [15]:
df1.rename(columns = {'started_at':'starttime'}, inplace = True)
df1.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df1.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df1.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df1.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df1.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df1.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [16]:
df1["starttime"] = pd.to_datetime(df1["starttime"])
df1["stoptime"] = pd.to_datetime(df1["stoptime"])

In [17]:
df1['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [19]:
df1.loc[df1['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df1.loc[df1['from_station_id'].isnull(), 'from_station_id'] = 0
df1.loc[df1['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df1.loc[df1['to_station_id'].isnull(), 'to_station_id'] = 0
df1.loc[df1['end_lat'].isnull(), 'end_lat'] = 0
df1.loc[df1['end_lng'].isnull(), 'end_lng'] = 0

In [20]:
df1.loc[df1['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [21]:
df1.loc[df1['stoptime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [22]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96834 entries, 0 to 96833
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ride_id            96834 non-null  object
 1   rideable_type      96834 non-null  object
 2   starttime          96834 non-null  datetime64[ns]
 3   stoptime           96834 non-null  datetime64[ns]
 4   from_station_name  96834 non-null  object
 5   from_station_id    96834 non-null  object
 6   to_station_name    96834 non-null  object
 7   to_station_id      96834 non-null  object
 8   start_lat          96834 non-null  float64
 9   start_lng          96834 non-null  float64
 10  end_lat            96834 non-null  float64
 11  end_lng            96834 non-null  float64
 12  usertype           96834 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 9.6+ MB

In [24]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49622 entries, 0 to 49621
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ride_id            49622 non-null  object
 1   rideable_type      49622 non-null  object
 2   starttime          49622 non-null  object
 3   stoptime           49622 non-null  object
 4   from_station_name  45576 non-null  object
 5   from_station_id    45576 non-null  object
 6   to_station_name    44264 non-null  object
 7   to_station_id      44264 non-null  object
 8   start_lat          49622 non-null  float64
 9   start_lng          49622 non-null  float64
 10  end_lat            49408 non-null  float64
 11  end_lng            49408 non-null  float64
 12  usertype           49622 non-null  object
dtypes: float64(4), object(9)
memory usage: 4.9+ MB

In [23]:
df2.rename(columns = {'started_at':'starttime'}, inplace = True)
df2.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df2.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df2.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df2.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df2.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df2.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [25]:
df2["starttime"] = pd.to_datetime(df2["starttime"])
df2["stoptime"] = pd.to_datetime(df2["stoptime"])

In [26]:
df2['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [27]:
df2.loc[df2['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df2.loc[df2['from_station_id'].isnull(), 'from_station_id'] = 0
df2.loc[df2['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df2.loc[df2['to_station_id'].isnull(), 'to_station_id'] = 0
df2.loc[df2['end_lat'].isnull(), 'end_lat'] = 0
df2.loc[df2['end_lng'].isnull(), 'end_lng'] = 0

In [28]:
df2.loc[df2['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [29]:
df2.loc[df2['stoptime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [30]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49622 entries, 0 to 49621
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ride_id            49622 non-null  object
 1   rideable_type      49622 non-null  object
 2   starttime          49622 non-null  datetime64[ns]
 3   stoptime           49622 non-null  datetime64[ns]
 4   from_station_name  49622 non-null  object
 5   from_station_id    49622 non-null  object
 6   to_station_name    49622 non-null  object
 7   to_station_id      49622 non-null  object
 8   start_lat          49622 non-null  float64
 9   start_lng          49622 non-null  float64
 10  end_lat            49622 non-null  float64
 11  end_lng            49622 non-null  float64
 12  usertype           49622 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 4.9+ MB

In [31]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228496 entries, 0 to 228495
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             228496 non-null  object
 1   rideable_type       228496 non-null  object
 2   started_at          228496 non-null  object
 3   ended_at            228496 non-null  object
 4   start_station_name  213648 non-null  object
 5   start_station_id    213648 non-null  object
 6   end_station_name    211769 non-null  object
 7   end_station_id      211769 non-null  object
 8   start_lat           228496 non-null  float64
 9   start_lng           228496 non-null  float64
 10  end_lat             228329 non-null  float64
 11  end_lng             228329 non-null  float64
 12  member_casual       228496 non-null  object
dtypes: float64(4), object(9)
memory usage: 22.7+ MB

In [32]:
df3.rename(columns = {'started_at':'starttime'}, inplace = True)
df3.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df3.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df3.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df3.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df3.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df3.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [33]:
df3["starttime"] = pd.to_datetime(df3["starttime"])
df3["stoptime"] = pd.to_datetime(df3["stoptime"])

In [34]:
df3['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [35]:
df3.loc[df3['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df3.loc[df3['from_station_id'].isnull(), 'from_station_id'] = 0
df3.loc[df3['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df3.loc[df3['to_station_id'].isnull(), 'to_station_id'] = 0
df3.loc[df3['end_lat'].isnull(), 'end_lat'] = 0
df3.loc[df3['end_lng'].isnull(), 'end_lng'] = 0

In [36]:
df3.loc[df3['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [37]:
df3.loc[df3['stoptime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [38]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228496 entries, 0 to 228495
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            228496 non-null  object
 1   rideable_type      228496 non-null  object
 2   starttime          228496 non-null  datetime64[ns]
 3   stoptime           228496 non-null  datetime64[ns]
 4   from_station_name  228496 non-null  object
 5   from_station_id    228496 non-null  object
 6   to_station_name    228496 non-null  object
 7   to_station_id      228496 non-null  object
 8   start_lat          228496 non-null  float64
 9   start_lng          228496 non-null  float64
 10  end_lat            228496 non-null  float64
 11  end_lng            228496 non-null  float64
 12  usertype           228496 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 22.7+ MB

In [39]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337230 entries, 0 to 337229
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             337230 non-null  object
 1   rideable_type       337230 non-null  object
 2   started_at          337230 non-null  object
 3   ended_at            337230 non-null  object
 4   start_station_name  311174 non-null  object
 5   start_station_id    311174 non-null  object
 6   end_station_name    309056 non-null  object
 7   end_station_id      309056 non-null  object
 8   start_lat           337230 non-null  float64
 9   start_lng           337230 non-null  float64
 10  end_lat             336963 non-null  float64
 11  end_lng             336963 non-null  float64
 12  member_casual       337230 non-null  object
dtypes: float64(4), object(9)
memory usage: 33.4+ MB

In [40]:
df4.rename(columns = {'started_at':'starttime'}, inplace = True)
df4.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df4.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df4.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df4.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df4.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df4.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [41]:
df4["starttime"] = pd.to_datetime(df4["starttime"])
df4["stoptime"] = pd.to_datetime(df4["stoptime"])

In [42]:
df4['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [43]:
df4.loc[df4['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df4.loc[df4['from_station_id'].isnull(), 'from_station_id'] = 0
df4.loc[df4['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df4.loc[df4['to_station_id'].isnull(), 'to_station_id'] = 0
df4.loc[df4['end_lat'].isnull(), 'end_lat'] = 0
df4.loc[df4['end_lng'].isnull(), 'end_lng'] = 0

In [44]:
df4.loc[df4['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [45]:
df4.loc[df4['stoptime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [46]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337230 entries, 0 to 337229
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            337230 non-null  object
 1   rideable_type      337230 non-null  object
 2   starttime          337230 non-null  datetime64[ns]
 3   stoptime           337230 non-null  datetime64[ns]
 4   from_station_name  337230 non-null  object
 5   from_station_id    337230 non-null  object
 6   to_station_name    337230 non-null  object
 7   to_station_id      337230 non-null  object
 8   start_lat          337230 non-null  float64
 9   start_lng          337230 non-null  float64
 10  end_lat            337230 non-null  float64
 11  end_lng            337230 non-null  float64
 12  usertype           337230 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 33.4+ MB

In [47]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531633 entries, 0 to 531632
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             531633 non-null  object
 1   rideable_type       531633 non-null  object
 2   started_at          531633 non-null  object
 3   ended_at            531633 non-null  object
 4   start_station_name  477889 non-null  object
 5   start_station_id    477889 non-null  object
 6   end_station_name    473439 non-null  object
 7   end_station_id      473439 non-null  object
 8   start_lat           531633 non-null  float64
 9   start_lng           531633 non-null  float64
 10  end_lat             531181 non-null  float64
 11  end_lng             531181 non-null  float64
 12  member_casual       531633 non-null  object
dtypes: float64(4), object(9)
memory usage: 52.7+ MB

In [48]:
df5.rename(columns = {'started_at':'starttime'}, inplace = True)
df5.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df5.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df5.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df5.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df5.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df5.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [49]:
df5["starttime"] = pd.to_datetime(df5["starttime"])
df5["stoptime"] = pd.to_datetime(df5["stoptime"])

In [50]:
df5['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [51]:
df5.loc[df5['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df5.loc[df5['from_station_id'].isnull(), 'from_station_id'] = 0
df5.loc[df5['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df5.loc[df5['to_station_id'].isnull(), 'to_station_id'] = 0
df5.loc[df5['end_lat'].isnull(), 'end_lat'] = 0
df5.loc[df5['end_lng'].isnull(), 'end_lng'] = 0

In [52]:
df5.loc[df5['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [53]:
df5.loc[df5['stoptime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [54]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531633 entries, 0 to 531632
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            531633 non-null  object
 1   rideable_type      531633 non-null  object
 2   starttime          531633 non-null  datetime64[ns]
 3   stoptime           531633 non-null  datetime64[ns]
 4   from_station_name  531633 non-null  object
 5   from_station_id    531633 non-null  object
 6   to_station_name    531633 non-null  object
 7   to_station_id      531633 non-null  object
 8   start_lat          531633 non-null  float64
 9   start_lng          531633 non-null  float64
 10  end_lat            531633 non-null  float64
 11  end_lng            531633 non-null  float64
 12  usertype           531633 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 52.7+ MB

In [55]:
df6.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 729595 entries, 0 to 729594
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             729595 non-null  object
 1   rideable_type       729595 non-null  object
 2   started_at          729595 non-null  object
 3   ended_at            729595 non-null  object
 4   start_station_name  649502 non-null  object
 5   start_station_id    649502 non-null  object
 6   end_station_name    643208 non-null  object
 7   end_station_id      643208 non-null  object
 8   start_lat           729595 non-null  float64
 9   start_lng           729595 non-null  float64
 10  end_lat             728878 non-null  float64
 11  end_lng             728878 non-null  float64
 12  member_casual       729595 non-null  object
dtypes: float64(4), object(9)
memory usage: 72.4+ MB

In [56]:
df6.rename(columns = {'started_at':'starttime'}, inplace = True)
df6.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df6.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df6.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df6.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df6.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df6.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [57]:
df6["starttime"] = pd.to_datetime(df6["starttime"])
df6["stoptime"] = pd.to_datetime(df6["stoptime"])

In [58]:
df6['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [59]:
df6.loc[df6['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df6.loc[df6['from_station_id'].isnull(), 'from_station_id'] = 0
df6.loc[df6['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df6.loc[df6['to_station_id'].isnull(), 'to_station_id'] = 0
df6.loc[df6['end_lat'].isnull(), 'end_lat'] = 0
df6.loc[df6['end_lng'].isnull(), 'end_lng'] = 0

In [60]:
df6.loc[df6['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [61]:
df6.loc[df6['stoptime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [62]:
df6.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 729595 entries, 0 to 729594
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            729595 non-null  object
 1   rideable_type      729595 non-null  object
 2   starttime          729595 non-null  datetime64[ns]
 3   stoptime           729595 non-null  datetime64[ns]
 4   from_station_name  729595 non-null  object
 5   from_station_id    729595 non-null  object
 6   to_station_name    729595 non-null  object
 7   to_station_id      729595 non-null  object
 8   start_lat          729595 non-null  float64
 9   start_lng          729595 non-null  float64
 10  end_lat            729595 non-null  float64
 11  end_lng            729595 non-null  float64
 12  usertype           729595 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 72.4+ MB

In [63]:
df7.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822410 entries, 0 to 822409
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             822410 non-null  object
 1   rideable_type       822410 non-null  object
 2   started_at          822410 non-null  object
 3   ended_at            822410 non-null  object
 4   start_station_name  735147 non-null  object
 5   start_station_id    735148 non-null  object
 6   end_station_name    729252 non-null  object
 7   end_station_id      729252 non-null  object
 8   start_lat           822410 non-null  float64
 9   start_lng           822410 non-null  float64
 10  end_lat             821679 non-null  float64
 11  end_lng             821679 non-null  float64
 12  member_casual       822410 non-null  object
dtypes: float64(4), object(9)
memory usage: 81.6+ MB

In [64]:
df7.rename(columns = {'started_at':'starttime'}, inplace = True)
df7.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df7.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df7.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df7.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df7.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df7.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [65]:
df7["starttime"] = pd.to_datetime(df7["starttime"])
df7["stoptime"] = pd.to_datetime(df7["stoptime"])

In [66]:
df7['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [67]:
df7.loc[df7['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df7.loc[df7['from_station_id'].isnull(), 'from_station_id'] = 0
df7.loc[df7['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df7.loc[df7['to_station_id'].isnull(), 'to_station_id'] = 0
df7.loc[df7['end_lat'].isnull(), 'end_lat'] = 0
df7.loc[df7['end_lng'].isnull(), 'end_lng'] = 0

In [68]:
df7.loc[df7['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [69]:
df7.loc[df7['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [70]:
df7.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822410 entries, 0 to 822409
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            822410 non-null  object
 1   rideable_type      822410 non-null  object
 2   starttime          822410 non-null  datetime64[ns]
 3   stoptime           822410 non-null  datetime64[ns]
 4   from_station_name  822410 non-null  object
 5   from_station_id    822410 non-null  object
 6   to_station_name    822410 non-null  object
 7   to_station_id      822410 non-null  object
 8   start_lat          822410 non-null  float64
 9   start_lng          822410 non-null  float64
 10  end_lat            822410 non-null  float64
 11  end_lng            822410 non-null  float64
 12  usertype           822410 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 81.6+ MB

In [71]:
df8.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804352 entries, 0 to 804351
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             804352 non-null  object
 1   rideable_type       804352 non-null  object
 2   started_at          804352 non-null  object
 3   ended_at            804352 non-null  object
 4   start_station_name  715894 non-null  object
 5   start_station_id    715894 non-null  object
 6   end_station_name    710237 non-null  object
 7   end_station_id      710237 non-null  object
 8   start_lat           804352 non-null  float64
 9   start_lng           804352 non-null  float64
 10  end_lat             803646 non-null  float64
 11  end_lng             803646 non-null  float64
 12  member_casual       804352 non-null  object
dtypes: float64(4), object(9)
memory usage: 79.8+ MB

In [72]:
df8.rename(columns = {'started_at':'starttime'}, inplace = True)
df8.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df8.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df8.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df8.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df8.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df8.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [73]:
df8["starttime"] = pd.to_datetime(df8["starttime"])
df8["stoptime"] = pd.to_datetime(df8["stoptime"])

In [74]:
df8['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [75]:
df8.loc[df8['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df8.loc[df8['from_station_id'].isnull(), 'from_station_id'] = 0
df8.loc[df8['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df8.loc[df8['to_station_id'].isnull(), 'to_station_id'] = 0
df8.loc[df8['end_lat'].isnull(), 'end_lat'] = 0
df8.loc[df8['end_lng'].isnull(), 'end_lng'] = 0

In [76]:
df8.loc[df8['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [77]:
df8.loc[df8['stoptime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [78]:
df8.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804352 entries, 0 to 804351
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            804352 non-null  object
 1   rideable_type      804352 non-null  object
 2   starttime          804352 non-null  datetime64[ns]
 3   stoptime           804352 non-null  datetime64[ns]
 4   from_station_name  804352 non-null  object
 5   from_station_id    804352 non-null  object
 6   to_station_name    804352 non-null  object
 7   to_station_id      804352 non-null  object
 8   start_lat          804352 non-null  float64
 9   start_lng          804352 non-null  float64
 10  end_lat            804352 non-null  float64
 11  end_lng            804352 non-null  float64
 12  usertype           804352 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 79.8+ MB

In [79]:
df9.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756147 entries, 0 to 756146
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             756147 non-null  object
 1   rideable_type       756147 non-null  object
 2   started_at          756147 non-null  object
 3   ended_at            756147 non-null  object
 4   start_station_name  663034 non-null  object
 5   start_station_id    663036 non-null  object
 6   end_station_name    656886 non-null  object
 7   end_station_id      656886 non-null  object
 8   start_lat           756147 non-null  float64
 9   start_lng           756147 non-null  float64
 10  end_lat             755552 non-null  float64
 11  end_lng             755552 non-null  float64
 12  member_casual       756147 non-null  object
dtypes: float64(4), object(9)
memory usage: 75.0+ MB

In [80]:
df9.rename(columns = {'started_at':'starttime'}, inplace = True)
df9.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df9.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df9.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df9.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df9.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df9.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [81]:
df9["starttime"] = pd.to_datetime(df9["starttime"])
df9["stoptime"] = pd.to_datetime(df9["stoptime"])

In [82]:
df9['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [83]:
df9.loc[df9['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df9.loc[df9['from_station_id'].isnull(), 'from_station_id'] = 0
df9.loc[df9['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df9.loc[df9['to_station_id'].isnull(), 'to_station_id'] = 0
df9.loc[df9['end_lat'].isnull(), 'end_lat'] = 0
df9.loc[df9['end_lng'].isnull(), 'end_lng'] = 0

In [84]:
df9.loc[df9['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [85]:
df9.loc[df9['stoptime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [86]:
df9.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756147 entries, 0 to 756146
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            756147 non-null  object
 1   rideable_type      756147 non-null  object
 2   starttime          756147 non-null  datetime64[ns]
 3   stoptime           756147 non-null  datetime64[ns]
 4   from_station_name  756147 non-null  object
 5   from_station_id    756147 non-null  object
 6   to_station_name    756147 non-null  object
 7   to_station_id      756147 non-null  object
 8   start_lat          756147 non-null  float64
 9   start_lng          756147 non-null  float64
 10  end_lat            756147 non-null  float64
 11  end_lng            756147 non-null  float64
 12  usertype           756147 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 75.0+ MB

In [87]:
df10.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631226 entries, 0 to 631225
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             631226 non-null  object
 1   rideable_type       631226 non-null  object
 2   started_at          631226 non-null  object
 3   ended_at            631226 non-null  object
 4   start_station_name  523016 non-null  object
 5   start_station_id    523016 non-null  object
 6   end_station_name    516392 non-null  object
 7   end_station_id      516392 non-null  object
 8   start_lat           631226 non-null  float64
 9   start_lng           631226 non-null  float64
 10  end_lat             630742 non-null  float64
 11  end_lng             630742 non-null  float64
 12  member_casual       631226 non-null  object
dtypes: float64(4), object(9)
memory usage: 62.6+ MB

In [88]:
df10.rename(columns = {'started_at':'starttime'}, inplace = True)
df10.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df10.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df10.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df10.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df10.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df10.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [89]:
df10["starttime"] = pd.to_datetime(df10["starttime"])
df10["stoptime"] = pd.to_datetime(df10["stoptime"])

In [90]:
df10['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [91]:
df10.loc[df10['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df10.loc[df10['from_station_id'].isnull(), 'from_station_id'] = 0
df10.loc[df10['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df10.loc[df10['to_station_id'].isnull(), 'to_station_id'] = 0
df10.loc[df10['end_lat'].isnull(), 'end_lat'] = 0
df10.loc[df10['end_lng'].isnull(), 'end_lng'] = 0

In [92]:
df10.loc[df10['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [93]:
df10.loc[df10['stoptime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [94]:
df10.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631226 entries, 0 to 631225
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            631226 non-null  object
 1   rideable_type      631226 non-null  object
 2   starttime          631226 non-null  datetime64[ns]
 3   stoptime           631226 non-null  datetime64[ns]
 4   from_station_name  631226 non-null  object
 5   from_station_id    631226 non-null  object
 6   to_station_name    631226 non-null  object
 7   to_station_id      631226 non-null  object
 8   start_lat          631226 non-null  float64
 9   start_lng          631226 non-null  float64
 10  end_lat            631226 non-null  float64
 11  end_lng            631226 non-null  float64
 12  usertype           631226 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 62.6+ MB

In [95]:
df11.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359978 entries, 0 to 359977
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             359978 non-null  object
 1   rideable_type       359978 non-null  object
 2   started_at          359978 non-null  object
 3   ended_at            359978 non-null  object
 4   start_station_name  284688 non-null  object
 5   start_station_id    284688 non-null  object
 6   end_station_name    280791 non-null  object
 7   end_station_id      280791 non-null  object
 8   start_lat           359978 non-null  float64
 9   start_lng           359978 non-null  float64
 10  end_lat             359787 non-null  float64
 11  end_lng             359787 non-null  float64
 12  member_casual       359978 non-null  object
dtypes: float64(4), object(9)
memory usage: 35.7+ MB

In [96]:
df11.rename(columns = {'started_at':'starttime'}, inplace = True)
df11.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df11.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df11.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df11.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df11.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df11.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [98]:
df11["starttime"] = pd.to_datetime(df11["starttime"])
df11["stoptime"] = pd.to_datetime(df11["stoptime"])

In [99]:
df11['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [100]:
df11.loc[df11['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df11.loc[df11['from_station_id'].isnull(), 'from_station_id'] = 0
df11.loc[df11['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df11.loc[df11['to_station_id'].isnull(), 'to_station_id'] = 0
df11.loc[df11['end_lat'].isnull(), 'end_lat'] = 0
df11.loc[df11['end_lng'].isnull(), 'end_lng'] = 0

In [101]:
df11.loc[df11['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [102]:
df11.loc[df11['stoptime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [103]:
df11.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359978 entries, 0 to 359977
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            359978 non-null  object
 1   rideable_type      359978 non-null  object
 2   starttime          359978 non-null  datetime64[ns]
 3   stoptime           359978 non-null  datetime64[ns]
 4   from_station_name  359978 non-null  object
 5   from_station_id    359978 non-null  object
 6   to_station_name    359978 non-null  object
 7   to_station_id      359978 non-null  object
 8   start_lat          359978 non-null  float64
 9   start_lng          359978 non-null  float64
 10  end_lat            359978 non-null  float64
 11  end_lng            359978 non-null  float64
 12  usertype           359978 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 35.7+ MB

In [104]:
df12.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247540 entries, 0 to 247539
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             247540 non-null  object
 1   rideable_type       247540 non-null  object
 2   started_at          247540 non-null  object
 3   ended_at            247540 non-null  object
 4   start_station_name  196477 non-null  object
 5   start_station_id    196477 non-null  object
 6   end_station_name    194042 non-null  object
 7   end_station_id      194042 non-null  object
 8   start_lat           247540 non-null  float64
 9   start_lng           247540 non-null  float64
 10  end_lat             247396 non-null  float64
 11  end_lng             247396 non-null  float64
 12  member_casual       247540 non-null  object
dtypes: float64(4), object(9)
memory usage: 24.6+ MB

In [105]:
df12.rename(columns = {'started_at':'starttime'}, inplace = True)
df12.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df12.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df12.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df12.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df12.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df12.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [106]:
df12["starttime"] = pd.to_datetime(df12["starttime"])
df12["stoptime"] = pd.to_datetime(df12["stoptime"])

In [107]:
df12['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [108]:
df12.loc[df12['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df12.loc[df12['from_station_id'].isnull(), 'from_station_id'] = 0
df12.loc[df12['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df12.loc[df12['to_station_id'].isnull(), 'to_station_id'] = 0
df12.loc[df12['end_lat'].isnull(), 'end_lat'] = 0
df12.loc[df12['end_lng'].isnull(), 'end_lng'] = 0

In [109]:
df12.loc[df12['starttime'].dt.year != 2021]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [110]:
df12.loc[df12['stoptime'].dt.year != 2021]

,ride_id,rideable_type,starttime,stoptime,from_station_name,from_station_id,to_station_name,to_station_id,start_lat,start_lng,end_lat,end_lng,usertype
552,03BF78CD4FAE02C9,docked_bike,2021-12-31 22:21:48,2022-01-01 00:34:22,St. Clair St & Erie St,13016,Columbus Dr & Randolph St,13263,41.894345,-87.622798,41.884728,-87.619521,Customer
645,7A04FC055FFEE860,docked_bike,2021-12-31 22:22:20,2022-01-01 00:35:21,St. Clair St & Erie St,13016,Columbus Dr & Randolph St,13263,41.894345,-87.622798,41.884728,-87.619521,Customer
8906,930D2023808253D8,docked_bike,2021-12-31 23:19:43,2022-01-01 12:17:58,Columbus Dr & Randolph St,13263,DuSable Lake Shore Dr & Monroe St,13300,41.884728,-87.619521,41.880958,-87.616743,Customer
12384,4DB00E7A2B01FF50,classic_bike,2021-12-31 22:06:43,2022-01-01 03:17:07,Broadway & Berwyn Ave,13109,Ashland Ave & Division St,13061,41.978353,-87.659753,41.903450,-87.667747,Customer
12555,3432378B2C0D19ED,docked_bike,2021-12-31 14:36:35,2022-01-01 08:42:31,Adler Planetarium,13431,Adler Planetarium,13431,41.866095,-87.607267,41.866095,-87.607267,Customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
225629,6007E15F50A14DBF,classic_bike,2021-12-31 23:52:32,2022-01-01 00:08:35,Dearborn St & Monroe St,TA1305000006,Dearborn St & Monroe St,TA1305000006,41.881320,-87.629521,41.881320,-87.629521,Customer
234105,289FBCD3622AC157,electric_bike,2021-12-31 23:15:15,2022-01-01 00:14:35,Unknown,0,Desplaines St & Kinzie St,TA1306000003,41.910000,-87.710000,41.888716,-87.644448,Subscriber
235820,E4E9354762A63483,docked_bike,2021-12-31 23:43:37,2022-01-02 00:43:37,Fairbanks Ct & Grand Ave,TA1305000003,Unknown,0,41.891847,-87.620580,0.000000,0.000000,Customer
238244,3272910E8DFFA1B3,electric_bike,2021-12-31 23:42:07,2022-01-01 00:07:08,Unknown,0,Unknown,0,41.870000,-87.630000,41.860000,-87.630000,Customer
244833,AA2681CA4659CCE5,electric_bike,2021-12-31 23:42:35,2022-01-01 00:00:35,Wells St & Huron St,TA1306000012,Unknown,0,41.894864,-87.634479,41.950000,-87.660000,Subscriber

In [111]:
df12.drop([552, 645, 8906, 12384, 12555, 12868, 14499, 20899, 21015, 29629, 32046, 34528, 34620, 34699, 38899, 39469, 43580, 46866, 47507, 47588, 52286, 53654, 54072, 57329, 60296, 60586, 70116, 70204, 78201, 89274, 89625, 91404, 91461, 94810, 100036, 100735, 107792, 113460, 125748, 129371, 131716, 131717, 132349, 137534, 138837, 138838, 139009, 143715, 149176, 150079, 156335, 158683, 161492, 165576, 167244, 170743, 195050, 197503, 198032, 198382, 198836, 205712, 205917, 206194, 206472, 208356, 222722, 223972, 225609, 225620, 225629, 234105, 235820, 238244, 244833],  axis=0, inplace=True)

In [112]:
df12.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247465 entries, 0 to 247539
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            247465 non-null  object
 1   rideable_type      247465 non-null  object
 2   starttime          247465 non-null  datetime64[ns]
 3   stoptime           247465 non-null  datetime64[ns]
 4   from_station_name  247465 non-null  object
 5   from_station_id    247465 non-null  object
 6   to_station_name    247465 non-null  object
 7   to_station_id      247465 non-null  object
 8   start_lat          247465 non-null  float64
 9   start_lng          247465 non-null  float64
 10  end_lat            247465 non-null  float64
 11  end_lng            247465 non-null  float64
 12  usertype           247465 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 26.4+ MB

* concat and result in 1 cleaned CSVs. Revert from variables back to cleaned CSV.