In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2022/202201-divvy-tripdata.csv')
df2 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2022/202202-divvy-tripdata.csv')
df3 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2022/202203-divvy-tripdata.csv')
df4 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2022/202204-divvy-tripdata.csv')
df5 = pd.read_csv('/Users/terrygilmore/Desktop/Divvy_DB/Divvy_Stations_Trips_2022/202205-divvy-tripdata.csv')

In [7]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103770 entries, 0 to 103769
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             103770 non-null  object
 1   rideable_type       103770 non-null  object
 2   started_at          103770 non-null  object
 3   ended_at            103770 non-null  object
 4   start_station_name  87510 non-null   object
 5   start_station_id    87510 non-null   object
 6   end_station_name    85843 non-null   object
 7   end_station_id      85843 non-null   object
 8   start_lat           103770 non-null  float64
 9   start_lng           103770 non-null  float64
 10  end_lat             103684 non-null  float64
 11  end_lng             103684 non-null  float64
 12  member_casual       103770 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.3+ MB

In [8]:
df1.rename(columns = {'started_at':'starttime'}, inplace = True)
df1.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df1.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df1.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df1.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df1.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df1.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [9]:
df1["starttime"] = pd.to_datetime(df1["starttime"])
df1["stoptime"] = pd.to_datetime(df1["stoptime"])

In [10]:
df1['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [11]:
df1.loc[df1['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df1.loc[df1['from_station_id'].isnull(), 'from_station_id'] = 0
df1.loc[df1['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df1.loc[df1['to_station_id'].isnull(), 'to_station_id'] = 0
df1.loc[df1['end_lat'].isnull(), 'end_lat'] = 0
df1.loc[df1['end_lng'].isnull(), 'end_lng'] = 0

In [12]:
df1.loc[df1['starttime'].dt.year != 2022]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [13]:
df1.loc[df1['stoptime'].dt.year != 2022]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [14]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103770 entries, 0 to 103769
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            103770 non-null  object
 1   rideable_type      103770 non-null  object
 2   starttime          103770 non-null  datetime64[ns]
 3   stoptime           103770 non-null  datetime64[ns]
 4   from_station_name  103770 non-null  object
 5   from_station_id    103770 non-null  object
 6   to_station_name    103770 non-null  object
 7   to_station_id      103770 non-null  object
 8   start_lat          103770 non-null  float64
 9   start_lng          103770 non-null  float64
 10  end_lat            103770 non-null  float64
 11  end_lng            103770 non-null  float64
 12  usertype           103770 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 10.3+ MB

In [15]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             115609 non-null  object
 1   rideable_type       115609 non-null  object
 2   started_at          115609 non-null  object
 3   ended_at            115609 non-null  object
 4   start_station_name  97029 non-null   object
 5   start_station_id    97029 non-null   object
 6   end_station_name    95254 non-null   object
 7   end_station_id      95254 non-null   object
 8   start_lat           115609 non-null  float64
 9   start_lng           115609 non-null  float64
 10  end_lat             115532 non-null  float64
 11  end_lng             115532 non-null  float64
 12  member_casual       115609 non-null  object
dtypes: float64(4), object(9)
memory usage: 11.5+ MB

In [16]:
df2.rename(columns = {'started_at':'starttime'}, inplace = True)
df2.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df2.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df2.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df2.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df2.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df2.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [17]:
df2["starttime"] = pd.to_datetime(df2["starttime"])
df2["stoptime"] = pd.to_datetime(df2["stoptime"])

In [18]:
df2['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [19]:
df2.loc[df2['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df2.loc[df2['from_station_id'].isnull(), 'from_station_id'] = 0
df2.loc[df2['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df2.loc[df2['to_station_id'].isnull(), 'to_station_id'] = 0
df2.loc[df2['end_lat'].isnull(), 'end_lat'] = 0
df2.loc[df2['end_lng'].isnull(), 'end_lng'] = 0

In [20]:
df2.loc[df2['starttime'].dt.year != 2022]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [21]:
df2.loc[df2['stoptime'].dt.year != 2022]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [22]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            115609 non-null  object
 1   rideable_type      115609 non-null  object
 2   starttime          115609 non-null  datetime64[ns]
 3   stoptime           115609 non-null  datetime64[ns]
 4   from_station_name  115609 non-null  object
 5   from_station_id    115609 non-null  object
 6   to_station_name    115609 non-null  object
 7   to_station_id      115609 non-null  object
 8   start_lat          115609 non-null  float64
 9   start_lng          115609 non-null  float64
 10  end_lat            115609 non-null  float64
 11  end_lng            115609 non-null  float64
 12  usertype           115609 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 11.5+ MB

In [23]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284042 entries, 0 to 284041
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             284042 non-null  object
 1   rideable_type       284042 non-null  object
 2   started_at          284042 non-null  object
 3   ended_at            284042 non-null  object
 4   start_station_name  236796 non-null  object
 5   start_station_id    236796 non-null  object
 6   end_station_name    232885 non-null  object
 7   end_station_id      232885 non-null  object
 8   start_lat           284042 non-null  float64
 9   start_lng           284042 non-null  float64
 10  end_lat             283776 non-null  float64
 11  end_lng             283776 non-null  float64
 12  member_casual       284042 non-null  object
dtypes: float64(4), object(9)
memory usage: 28.2+ MB

In [24]:
df3.rename(columns = {'started_at':'starttime'}, inplace = True)
df3.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df3.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df3.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df3.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df3.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df3.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [25]:
df3["starttime"] = pd.to_datetime(df3["starttime"])
df3["stoptime"] = pd.to_datetime(df3["stoptime"])

In [26]:
df3['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [27]:
df3.loc[df3['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df3.loc[df3['from_station_id'].isnull(), 'from_station_id'] = 0
df3.loc[df3['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df3.loc[df3['to_station_id'].isnull(), 'to_station_id'] = 0
df3.loc[df3['end_lat'].isnull(), 'end_lat'] = 0
df3.loc[df3['end_lng'].isnull(), 'end_lng'] = 0

In [28]:
df3.loc[df3['starttime'].dt.year != 2022]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [29]:
df3.loc[df3['stoptime'].dt.year != 2022]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [30]:
df3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284042 entries, 0 to 284041
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            284042 non-null  object
 1   rideable_type      284042 non-null  object
 2   starttime          284042 non-null  datetime64[ns]
 3   stoptime           284042 non-null  datetime64[ns]
 4   from_station_name  284042 non-null  object
 5   from_station_id    284042 non-null  object
 6   to_station_name    284042 non-null  object
 7   to_station_id      284042 non-null  object
 8   start_lat          284042 non-null  float64
 9   start_lng          284042 non-null  float64
 10  end_lat            284042 non-null  float64
 11  end_lng            284042 non-null  float64
 12  usertype           284042 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 28.2+ MB

In [31]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371249 entries, 0 to 371248
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             371249 non-null  object
 1   rideable_type       371249 non-null  object
 2   started_at          371249 non-null  object
 3   ended_at            371249 non-null  object
 4   start_station_name  300362 non-null  object
 5   start_station_id    300362 non-null  object
 6   end_station_name    295961 non-null  object
 7   end_station_id      295961 non-null  object
 8   start_lat           371249 non-null  float64
 9   start_lng           371249 non-null  float64
 10  end_lat             370932 non-null  float64
 11  end_lng             370932 non-null  float64
 12  member_casual       371249 non-null  object
dtypes: float64(4), object(9)
memory usage: 36.8+ MB

In [32]:
df4.rename(columns = {'started_at':'starttime'}, inplace = True)
df4.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df4.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df4.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df4.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df4.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df4.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [33]:
df4["starttime"] = pd.to_datetime(df4["starttime"])
df4["stoptime"] = pd.to_datetime(df4["stoptime"])

In [34]:
df4['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [35]:
df4.loc[df4['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df4.loc[df4['from_station_id'].isnull(), 'from_station_id'] = 0
df4.loc[df4['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df4.loc[df4['to_station_id'].isnull(), 'to_station_id'] = 0
df4.loc[df4['end_lat'].isnull(), 'end_lat'] = 0
df4.loc[df4['end_lng'].isnull(), 'end_lng'] = 0

In [36]:
df4.loc[df4['starttime'].dt.year != 2022]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [37]:
df4.loc[df4['stoptime'].dt.year != 2022]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [38]:
df4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371249 entries, 0 to 371248
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            371249 non-null  object
 1   rideable_type      371249 non-null  object
 2   starttime          371249 non-null  datetime64[ns]
 3   stoptime           371249 non-null  datetime64[ns]
 4   from_station_name  371249 non-null  object
 5   from_station_id    371249 non-null  object
 6   to_station_name    371249 non-null  object
 7   to_station_id      371249 non-null  object
 8   start_lat          371249 non-null  float64
 9   start_lng          371249 non-null  float64
 10  end_lat            371249 non-null  float64
 11  end_lng            371249 non-null  float64
 12  usertype           371249 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 36.8+ MB

In [39]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634858 entries, 0 to 634857
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             634858 non-null  object
 1   rideable_type       634858 non-null  object
 2   started_at          634858 non-null  object
 3   ended_at            634858 non-null  object
 4   start_station_name  548154 non-null  object
 5   start_station_id    548154 non-null  object
 6   end_station_name    541687 non-null  object
 7   end_station_id      541687 non-null  object
 8   start_lat           634858 non-null  float64
 9   start_lng           634858 non-null  float64
 10  end_lat             634136 non-null  float64
 11  end_lng             634136 non-null  float64
 12  member_casual       634858 non-null  object
dtypes: float64(4), object(9)
memory usage: 63.0+ MB

In [40]:
df5.rename(columns = {'started_at':'starttime'}, inplace = True)
df5.rename(columns = {'ended_at':'stoptime'}, inplace = True)
df5.rename(columns = {'start_station_name':'from_station_name'}, inplace = True)
df5.rename(columns = {'start_station_id':'from_station_id'}, inplace = True)
df5.rename(columns = {'end_station_name':'to_station_name'}, inplace = True)
df5.rename(columns = {'end_station_id':'to_station_id'}, inplace = True)
df5.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [41]:
df5["starttime"] = pd.to_datetime(df5["starttime"])
df5["stoptime"] = pd.to_datetime(df5["stoptime"])

In [42]:
df5['usertype'].replace({'member':'Subscriber', 'casual':'Customer'}, inplace=True)

In [43]:
df5.loc[df5['from_station_name'].isnull(), 'from_station_name'] = 'Unknown'
df5.loc[df5['from_station_id'].isnull(), 'from_station_id'] = 0
df5.loc[df5['to_station_name'].isnull(), 'to_station_name'] = 'Unknown'
df5.loc[df5['to_station_id'].isnull(), 'to_station_id'] = 0
df5.loc[df5['end_lat'].isnull(), 'end_lat'] = 0
df5.loc[df5['end_lng'].isnull(), 'end_lng'] = 0

In [44]:
df5.loc[df5['starttime'].dt.year != 2022]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [45]:
df5.loc[df5['stoptime'].dt.year != 2022]

Empty DataFrame
Columns: [ride_id, rideable_type, starttime, stoptime, from_station_name, from_station_id, to_station_name, to_station_id, start_lat, start_lng, end_lat, end_lng, usertype]
Index: []

In [46]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634858 entries, 0 to 634857
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            634858 non-null  object
 1   rideable_type      634858 non-null  object
 2   starttime          634858 non-null  datetime64[ns]
 3   stoptime           634858 non-null  datetime64[ns]
 4   from_station_name  634858 non-null  object
 5   from_station_id    634858 non-null  object
 6   to_station_name    634858 non-null  object
 7   to_station_id      634858 non-null  object
 8   start_lat          634858 non-null  float64
 9   start_lng          634858 non-null  float64
 10  end_lat            634858 non-null  float64
 11  end_lng            634858 non-null  float64
 12  usertype           634858 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 63.0+ MB

* concat and result in 1 cleaned CSVs. Revert from variables back to cleaned CSV.